In [2]:
import pandas as pd
import numpy as np
data=pd.read_csv("E:\data mining\Project_Dataset.csv")

In [3]:
data.shape

(861916, 76)

In [4]:
c=['State_Of_Health_Battery','Battery_Generation','Fleet_ID','Country','Vehicle_MRK_TYPE',
 'CURRENT_YEARLY_MILEAGE','Mounted_Battery_Generation',
 'Measure_R_D','Engine_Type','Geo_Area',
 'City','Cluster','IS_PATTERN_AVAILABLE','IS_FLEET_TOF_MONITORED',
 'IS_CHECKED_IN_VDA','Battery_Supplier']

In [5]:
v=data.loc[:,c]

In [6]:
v.head()

,State_Of_Health_Battery,Battery_Generation,Fleet_ID,Country,Vehicle_MRK_TYPE,CURRENT_YEARLY_MILEAGE,Mounted_Battery_Generation,Measure_R_D,Engine_Type,Geo_Area,City,Cluster,IS_PATTERN_AVAILABLE,IS_FLEET_TOF_MONITORED,IS_CHECKED_IN_VDA,Battery_Supplier
0,NaN,1.0,1.0,1.0,1,1,1.0,1.0,1.0,1.0,1.0,1.0,0,1,0,1.0
1,72.00,1.0,1.0,1.0,1,1,1.0,1.0,1.0,1.0,1.0,1.0,0,1,0,1.0
2,NaN,1.0,1.0,1.0,1,1,1.0,1.0,1.0,1.0,1.0,1.0,0,1,0,1.0
3,95.50,1.0,1.0,1.0,1,1,1.0,1.0,1.0,1.0,1.0,1.0,0,1,0,1.0
4,76.25,1.0,1.0,1.0,1,1,1.0,1.0,1.0,1.0,1.0,1.0,0,1,0,1.0

In [7]:
v.isnull().sum()

State_Of_Health_Battery       648056
Battery_Generation             25453
Fleet_ID                      138098
Country                            1
Vehicle_MRK_TYPE                   0
CURRENT_YEARLY_MILEAGE             0
Mounted_Battery_Generation        79
Measure_R_D                    87568
Engine_Type                   136127
Geo_Area                      136988
City                          148857
Cluster                       293303
IS_PATTERN_AVAILABLE               0
IS_FLEET_TOF_MONITORED             0
IS_CHECKED_IN_VDA                  0
Battery_Supplier               25453
dtype: int64

In [7]:
v=v.drop('State_Of_Health_Battery',axis=1)

In [8]:
v.head()

,Battery_Generation,Fleet_ID,Country,Vehicle_MRK_TYPE,CURRENT_YEARLY_MILEAGE,Mounted_Battery_Generation,Measure_R_D,Engine_Type,Geo_Area,City,Cluster,IS_PATTERN_AVAILABLE,IS_FLEET_TOF_MONITORED,IS_CHECKED_IN_VDA,Battery_Supplier
0,1.0,1.0,1.0,1,1,1.0,1.0,1.0,1.0,1.0,1.0,0,1,0,1.0
1,1.0,1.0,1.0,1,1,1.0,1.0,1.0,1.0,1.0,1.0,0,1,0,1.0
2,1.0,1.0,1.0,1,1,1.0,1.0,1.0,1.0,1.0,1.0,0,1,0,1.0
3,1.0,1.0,1.0,1,1,1.0,1.0,1.0,1.0,1.0,1.0,0,1,0,1.0
4,1.0,1.0,1.0,1,1,1.0,1.0,1.0,1.0,1.0,1.0,0,1,0,1.0

In [9]:
v.isnull().sum()

Battery_Generation             25453
Fleet_ID                      138098
Country                            1
Vehicle_MRK_TYPE                   0
CURRENT_YEARLY_MILEAGE             0
Mounted_Battery_Generation        79
Measure_R_D                    87568
Engine_Type                   136127
Geo_Area                      136988
City                          148857
Cluster                       293303
IS_PATTERN_AVAILABLE               0
IS_FLEET_TOF_MONITORED             0
IS_CHECKED_IN_VDA                  0
Battery_Supplier               25453
dtype: int64

In [10]:
is_NaN = v.isnull()
row_has_NaN = is_NaN.any(axis=1)

In [11]:
rows_with_NaN = v[row_has_NaN]

In [12]:
rows_with_NaN.isnull().sum()

Battery_Generation             25453
Fleet_ID                      138098
Country                            1
Vehicle_MRK_TYPE                   0
CURRENT_YEARLY_MILEAGE             0
Mounted_Battery_Generation        79
Measure_R_D                    87568
Engine_Type                   136127
Geo_Area                      136988
City                          148857
Cluster                       293303
IS_PATTERN_AVAILABLE               0
IS_FLEET_TOF_MONITORED             0
IS_CHECKED_IN_VDA                  0
Battery_Supplier               25453
dtype: int64

In [13]:
without_null=v.dropna()

In [14]:
without_null.shape

(527435, 15)

In [15]:
vehicles={}
gear_auto={}
gear_man={}
Battery_Supplier={}
cities={}
fleet_id={}
vehicle_id={}
sample={}
number_vehicle_milage=[]
for i in range(31):
    c1=data[data['CURRENT_YEARLY_MILEAGE']==i]
    vehicles[i]=c1['Vehicle_ID'].unique()
    gear_auto[i]=c1['Gear_Level_Auto_Time'].unique()
    gear_man[i]=c1['Gear_Level_Man_Time'].unique()
    Battery_Supplier[i]=c1['Battery_Supplier'].unique()
    cities[i]=c1['City'].unique()
    number_vehicle_milage.append(len(c1['Vehicle_ID'].unique()))
    fleet_id[i]=c1['Fleet_ID'].unique()
    vehicle_id[i]=c1['Vehicle_ID'].unique()
    sample[i]=c1['Sample_ID'].unique()

In [16]:
fleet_id

{0: array([], dtype=float64),
 1: array([  1.,   7.,  23.,  29.,  31.,  76.,  77.,  78.,  79.,  82.,  84.,
         87.,  89.,  95.,  98., 108., 118., 119., 122., 128., 129., 136.,
        145., 156., 163., 165., 171., 174., 182., 185., 187., 189., 206.,
        209., 211., 224., 226., 227., 253., 273., 286.]),
 2: array([  2.,  nan,  17.,  22.,  28.,  37.,  43.,  46.,  57.,  66.,  73.,
        100., 116., 143.]),
 3: array([  3.,  nan,  11.,  27.,  32.,  33.,  34.,  38.,  48.,  50.,  52.,
         54.,  55.,  64.,  75.,  86.,  97., 125., 130., 135., 141., 151.,
        152., 157., 160., 172., 186., 190., 206., 216., 240., 256., 258.,
        265., 279., 285., 289., 290., 292., 293.]),
 4: array([  4.,   5.,   8.,  10.,  13.,  14.,  15.,  24.,  35.,  39.,  45.,
         53.,  58.,  63.,  81.,  85.,  88.,  90.,  96., 103., 132., 138.,
        146., 149., 159., 169., 194., 196., 205., 215., 221., 223., 225.,
        234., 236., 203., 239., 242.,  nan, 255., 270., 276., 278., 294.,
        165.]),
 5: array([  6.,  20.,  21.,  67., 107., 148.,  nan]),
 6: array([  9., 142.]),
 7: array([ 12.,  18.,  30.,  51.,  59.,  61.,  69.,  92.,  99., 101., 112.,
        113., 126., 139., 153., 195., 199., 210., 212., 219., 220., 233.,
        244., 246., 259.,  35., 275.,  72., 287.]),
 8: array([ 16.,  40.,  56.,  62.,  70., 127., 131., 180., 201., 218., 229.,
        237., 243., 252., 264.]),
 9: array([ 19.,  72., 250.]),
 10: array([ 25.,  nan,  47.,  65.,  74., 191., 236.]),
 11: array([ 26.,  41.,  91., 109., 110., 111., 124., 133., 134., 140., 144.,
        162., 167., 179., 181., 200., 202., 213., 230., 249., 247.]),
 12: array([ 36.,  45., 164., 204., 231., 235., 241., 247.]),
 13: array([ 42., 104., 106., 114., 115., 137., 150.,  23., 173., 177., 184.,
        192., 203., 228., 260., 280., 282., 259.]),
 14: array([ 44.,  68.,  83., 102., 161., 166., 178., 198., 222., 248., 269.,
        291.]),
 15: array([ 36.,  49.,  80.,  45.,  93., 105., 120., 147., 168., 170., 183.,
        197., 103., 217., 232., 238., 257., 271., 272.,  nan, 221.]),
 16: array([ 60., 175.]),
 17: array([71.]),
 18: array([ 94., 117., 123., 155., 262., 268., 284.]),
 19: array([121.]),
 20: array([154., 254.,  69.,  nan]),
 21: array([158., 245., 266., 277., 295.]),
 22: array([176., 263.]),
 23: array([188., 214., 251., 296.]),
 24: array([193.]),
 25: array([207., 288.]),
 26: array([208.]),
 27: array([81.]),
 28: array([261.]),
 29: array([267., 274.]),
 30: array([281.])}

In [17]:
vehicle_id

{0: array([], dtype=int64),
 1: array([   1,    8,   38,   49,   52,   93,  195,  204,  206,  207,  217,
         237,  244,  254,  259,  279,  296,  299,  303,  312,  316,  333,
         343,  367,  450,  453,  457,  464,  467,  480,  483,  497,  503,
         515,  530,  534,  568,  585,  592,  596,  603,  604,  633,  642,
         648,  654,  664,  675,  678,  686,  688,  694,  746,  747,  749,
         754,  755,  757,  776,  788,  789,  790,  791,  792,  799,  803,
         807,  820,  842,  845,  853,  862,  866,  871,  881,  882,  889,
         894,  896,  899,  909,  918,  927,  932,  946,  948,  953,  957,
         966,  967,  968,  969,  975,  981,  983,  998, 1003, 1004, 1005,
        1023, 1027, 1040, 1060, 1065, 1076, 1078, 1095, 1101, 1106, 1115,
        1119, 1131, 1133, 1140, 1141, 1164, 1170, 1175, 1179, 1180, 1181,
        1188, 1203, 1209, 1210, 1211, 1218, 1219, 1228, 1236, 1237, 1241,
        1247, 1253, 1263, 1267, 1269, 1272, 1279, 1288, 1294, 1297, 1304,
        1309, 1315, 1321, 1334, 1336, 1338, 1346, 1351, 1360, 1362, 1365,
        1376, 1378, 1382, 1391, 1402, 1403, 1406, 1408, 1420, 1429, 1436,
        1438, 1443, 1453, 1455, 1456, 1458, 1459, 1460, 1464, 1476, 1477,
        1492, 1494, 1505, 1517, 1518, 1524, 1528, 1529, 1530, 1531, 1532,
        1542, 1547, 1565, 1567, 1572, 1575, 1594, 1598, 1599, 1606, 1617,
        1618, 1619, 1620, 1621, 1622, 1627, 1628, 1631, 1635, 1636, 1641,
        1642, 1643, 1647, 1653, 1654, 1655, 1658, 1671, 1676, 1699, 1701,
        1702, 1711, 1713, 1715, 1718, 1719, 1724, 1728, 1730, 1747, 1748,
        1756, 1758, 1763, 1769, 1772, 1777, 1785, 1791, 1795, 1798, 1803,
        1806, 1816, 1826, 1827, 1844, 1846, 1848, 1853, 1864, 1873, 1874,
        1879, 1885, 1893, 1897, 1907, 1908, 1911, 1915, 1916, 1930, 1931,
        1946, 1947, 1957, 1967, 1972, 1982, 1997, 2000, 2003, 2005, 2008,
        2020, 2028, 2030, 2032, 2035, 2040, 2048, 2055, 2058, 2065, 2087,
        2088, 2100, 2102, 2104, 2109, 2117, 2120, 2121, 2125, 2132, 2140,
        2142, 2152, 2158, 2163, 2169, 2172, 2178, 2182, 2188, 2190, 2201,
        2206, 2222, 2229, 2231, 2234, 2242, 2250, 2252, 2269, 2277, 2281,
        2286, 2293, 2298, 2302, 2310, 2313, 2320, 2322, 2323, 2327, 2330,
        2333, 2340, 2343, 2354, 2357, 2364, 2365, 2375, 2381, 2387, 2390,
        2392, 2397, 2401, 2407, 2408, 2409, 2413, 2417, 2429, 2430, 2436,
        2441, 2473, 2481, 2490, 2494, 2511, 2514, 2520, 2528, 2535, 2540,
        2547, 2548, 2552, 2555, 2566, 2568, 2578, 2582, 2583, 2584, 2587,
        2596, 2602, 2621, 2626, 2637, 2640, 2644, 2659, 2664, 2669, 2679,
        2680, 2714, 2725, 2740, 2742, 2743, 2747, 2749, 2751, 2758, 2762,
        2780, 2783, 2788, 2802, 2806, 2827, 2841, 2844, 2847, 2850, 2857,
        2860, 2862, 2866, 2868, 2871, 2872, 2873, 2880, 2888, 2895, 2899,
        2928, 2934, 2941, 2947, 2948, 2965, 2970, 2982, 2999, 3003, 3009,
        3015, 3027, 3040, 3049, 3054, 3058, 3059, 3062, 3070, 3073, 3086,
        3089, 3094, 3099, 3100, 3117, 3120, 3131, 3132, 3138, 3158, 3169,
        3174, 3188, 3213, 3214, 3215, 3216, 3244, 3251, 3279, 3292, 3298,
        3301, 3314, 3318, 3321, 3326, 3339, 3341, 3342, 3359, 3361, 3371,
        3378, 3399, 3404, 3405, 3408, 3409, 3412, 3434, 3443, 3449, 3455,
        3459, 3461, 3472, 3497, 3501, 3503, 3511, 3520, 3529, 3579, 3587,
        3597, 3610, 3637, 3742, 3768, 3779, 3780, 3817, 3818, 3861],
       dtype=int64),
 2: array([   2,    6,   13,   28,   36,   46,   55,   66,   68,   79,   81,
          85,  111,  112,  124,  126,  128,  131,  140,  163,  171,  179,
         213,  219,  220,  222,  224,  231,  243,  252,  256,  262,  264,
         277,  293,  297,  301,  318,  322,  328,  330,  332,  339,  349,
         355,  364,  382,  393,  403,  414,  418,  424,  426,  429,  436,
         438,  439,  440,  444,  447,  449,  452,  481,  513,  523,  541,
         586,  597,  602,  609,  610,  631,  632,  645,  677,  710,  720,
         722,  731,  732,  738,  758,  764,  766,  771,  823,  849,  852,
         873,  970,  979,  994,  995, 1055, 1059, 1102, 1114, 1130, 1148,
        1166, 1185, 1193, 1258, 1275, 1292, 1320, 1357, 1369, 1373, 1377,
        1401, 1404, 1433, 1475, 1495, 1499, 1501, 1543, 1562, 1613, 1630,
        1755, 1782, 1808, 1856, 1877, 1891, 1898, 1933, 1977, 2017, 2099,
        2136, 2138, 2166, 2171, 2187, 2224, 2245, 2283, 2335, 2348, 2372,
        2405, 2419, 2487, 2497, 2503, 2523, 2531, 2594, 2690, 2755, 2760,
        2907, 2967, 2972, 3065, 3124, 3332, 3388, 3481], dtype=int64),
 3: array([   3,    9,   14, ..., 4029, 4030, 4031], dtype=int64),
 4: array([   4,    5,   10,   12,   18,   19,   22,   23,   24,   31,   34,
          41,   44,   57,   58,   59,   63,   69,   70,   73,   77,   78,
          83,   87,   95,  102,  104,  113,  129,  132,  135,  137,  142,
         143,  149,  150,  152,  158,  169,  176,  183,  193,  198,  201,
         202,  212,  216,  221,  226,  245,  246,  248,  255,  257,  258,
         263,  267,  269,  276,  278,  284,  286,  292,  300,  304,  308,
         313,  317,  327,  347,  348,  366,  368,  372,  375,  377,  379,
         384,  385,  388,  408,  411,  420,  431,  435,  441,  445,  455,
         458,  459,  460,  461,  473,  486,  489,  492,  499,  506,  518,
         525,  526,  548,  550,  552,  555,  563,  569,  572,  573,  581,
         587,  589,  607,  616,  617,  636,  646,  652,  658,  660,  662,
         669,  673,  676,  693,  695,  706,  709,  734,  744,  762,  765,
         785,  801,  816,  822,  824,  827,  830,  834,  844,  846,  884,
         890,  895,  902,  903,  914,  920,  939,  944,  965,  972,  978,
         984,  996, 1014, 1036, 1039, 1044, 1048, 1061, 1070, 1074, 1077,
        1084, 1089, 1093, 1100, 1105, 1121, 1127, 1129, 1149, 1158, 1165,
        1172, 1177, 1186, 1191, 1196, 1199, 1200, 1208, 1223, 1246, 1256,
        1268, 1300, 1301, 1307, 1310, 1313, 1331, 1332, 1337, 1340, 1344,
        1355, 1370, 1387, 1388, 1397, 1400, 1414, 1419, 1444, 1463, 1478,
        1480, 1503, 1511, 1522, 1541, 1566, 1587, 1596, 1614, 1616, 1649,
        1651, 1679, 1680, 1689, 1705, 1714, 1790, 1796, 1828, 1839, 1859,
        1882, 1892, 1923, 1943, 1944, 1989, 1996, 2053, 2069, 2073, 2080,
        2083, 2085, 2124, 2175, 2180, 2186, 2216, 2247, 2287, 2292, 2296,
        2316, 2317, 2369, 2379, 2414, 2437, 2442, 2471, 2537, 2573, 2607,
        2612, 2639, 2643, 2646, 2668, 2673, 2682, 2703, 2712, 2752, 2805,
        2808, 2811, 2813, 2815, 2826, 2839, 2843, 2879, 2883, 2897, 2921,
        2935, 2938, 2946, 2955, 2966, 3029, 3033, 3034, 3068, 3088, 3141,
        3146, 3157, 3163, 3191, 3285, 3299, 3310, 3315, 3328, 3352, 3391,
        3414, 3479, 3509, 3549, 3566, 3596, 3638, 3642, 3644, 3663, 3666,
        3725, 3752, 3764, 3769, 3792, 3824, 3825, 3833, 3837, 3850, 3852,
        3870, 3876, 3877, 3879, 3894, 3904], dtype=int64),
 5: array([   7,   33,   35,   37,   48,   50,   62,   72,   88,   94,   98,
         146,  147,  162,  186,  203,  210,  214,  228,  234,  236,  240,
         250,  251,  273,  291,  307,  309,  323,  337,  346,  362,  363,
         391,  397,  398,  422,  427,  465,  478,  504,  520,  522,  577,
         611,  620,  638,  644,  647,  679,  685,  719,  726,  730,  733,
         773,  775,  781,  795,  819,  829,  837,  847,  858,  863,  872,
         891,  925,  977, 1020, 1029, 1073, 1128, 1182, 1198, 1217, 1348,
        1600, 1832, 1994, 2205, 2311, 2325, 2459, 2579, 2766, 2833, 3126,
        3217, 3252, 3309, 3347, 3382, 3387, 3419, 3440, 3488, 3784, 3851,
        3941], dtype=int64),
 6: array([  11,  629, 1062, 1381, 1470, 1706, 1722, 1726, 1829, 1918, 1966,
        2615], dtype=int64),
 7: array([  17,   30,   51,   99,  116,  120,  127,  155,  178,  180,  185,
         209,  266,  288,  314,  319,  324,  380,  381,  396,  482,  491,
         501,  508,  516,  528,  561,  580,  584,  619,  637,  659,  661,
         682,  701,  704,  736,  880,  951,  976, 1007, 1012, 1021, 1054,
        1092, 1098, 1111, 1146, 1151, 1255, 1276, 1282, 1318, 1343, 1358,
        1396, 1428, 1500, 1521, 1527, 1590, 1601, 1607, 1634, 1637, 1648,
        1731, 1760, 1764, 1814, 1817, 1824, 1841, 1866, 1912, 1973, 1986,
        2062, 2066, 2267, 2289, 2290, 2297, 2352, 2373, 2374, 2433, 2440,
        2445, 2450, 2461, 2463, 2499, 2550, 2560, 2580, 2581, 2647, 2651,
        2662, 2796, 2817, 2957, 2991, 3002, 3008, 3092, 3101, 3112, 3137,
        3175, 3204, 3239, 3506, 3524, 3590, 3593, 3615, 3630, 3665, 3714],
       dtype=int64),
 8: array([  27,   71,  110,  130,  141,  160,  315,  329,  406,  454,  463,
         512,  557,  579,  588,  606,  621,  635,  854,  901,  912,  926,
         947, 1033, 1083, 1094, 1156, 1222, 1252, 1265, 1322, 1325, 1335,
        1550, 1553, 1555, 1576, 1578, 1586, 1685, 1833, 1876, 1924, 2013,
        2037, 2139, 2218, 2314, 2366, 2479, 2508, 2536, 2611, 2670, 2884,
        3224, 3256, 3349, 3410, 3428, 3559, 3627, 3782], dtype=int64),
 9: array([  32,  168,  601, 1439, 1940, 1998, 2059, 2060, 2203, 2215, 2328,
        2404, 2424, 2654, 2978, 3463, 3715, 3760], dtype=int64),
 10: array([  42,   80,   86,  136,  156,  173,  182,  197,  261,  356,  359,
         360,  376,  383,  402,  404,  433,  434,  462,  477,  488,  510,
         535,  547,  567,  583,  608,  613,  655,  663,  690,  699,  700,
         800,  856,  867,  879,  893,  897,  911,  915,  919,  922, 1016,
        1025, 1038, 1043, 1057, 1063, 1068, 1080, 1081, 1090, 1103, 1107,
        1124, 1169, 1197, 1220, 1232, 1239, 1257, 1329, 1352, 1371, 1390,
        1398, 1407, 1425, 1445, 1633, 1650, 1666, 1686, 1698, 1812, 1845,
        1869, 2027, 2042, 2064, 2106, 2146, 2306, 2324, 2546, 2642, 2653,
        2696, 3130], dtype=int64),
 11: array([  43,   74,  285,  305,  370,  373,  374,  451,  468,  494,  509,
         570,  594,  614,  623,  634,  640,  728,  737,  787,  817,  843,
         857,  943,  962,  982,  990,  999, 1008, 1019, 1045, 1066, 1091,
        1138, 1150, 1159, 1235, 1243, 1289, 1317, 1364, 1393, 1394, 1405,
        1413, 1448, 1454, 1497, 1559, 1580, 1611, 1638, 1663, 1667, 1688,
        1703, 1762, 1781, 1805, 1810, 1819, 1835, 1854, 1862, 1880, 1894,
        1910, 1920, 1928, 1953, 1965, 1979, 1985, 2001, 2014, 2081, 2108,
        2113, 2144, 2147, 2150, 2213, 2230, 2233, 2246, 2259, 2291, 2300,
        2303, 2315, 2326, 2347, 2386, 2396, 2422, 2434, 2457, 2458, 2485,
        2486, 2492, 2501, 2515, 2569, 2588, 2625, 2630, 2684, 2686, 2691,
        2698, 2701, 2708, 2710, 2713, 2724, 2726, 2732, 2733, 2735, 2736,
        2741, 2744, 2753, 2770, 2775, 2778, 2794, 2812, 2822, 2861, 2898,
        2900, 2910, 2922, 2951, 2959, 2961, 2971, 3026, 3046, 3051, 3055,
        3064, 3069, 3093, 3103, 3143, 3149, 3182, 3185, 3192, 3193, 3196,
        3201, 3203, 3230, 3249, 3250, 3260, 3261, 3262, 3278, 3288, 3302,
        3307, 3322, 3344, 3362, 3369, 3383, 3393, 3400, 3417, 3457, 3474,
        3482, 3493, 3510, 3521, 3522, 3526, 3534, 3539, 3551, 3575, 3594,
        3606, 3607, 3613, 3623, 3641, 3652, 3686, 3688, 3690, 3718, 3726,
        3772, 3773, 3778, 3783, 3800, 3803, 3827, 3832, 3836, 3864, 3868,
        3895, 3914, 3935, 3955, 3964, 3967, 3993], dtype=int64),
 12: array([  65,  105,  118,  165,  190,  238,  287,  289,  612,  743,  796,
         833, 1171, 1479, 1539, 1604, 1652, 1780, 1863, 1871, 2526, 3701],
       dtype=int64),
 13: array([  75,   90,  108,  138,  161,  229,  280,  350,  353,  394,  409,
         419,  476,  490,  502,  511,  524,  559,  593,  605,  705,  721,
         777,  805,  848,  888,  907,  936,  964,  974,  980, 1026, 1037,
        1042, 1064, 1136, 1155, 1162, 1187, 1189, 1190, 1207, 1226, 1259,
        1293, 1328, 1363, 1422, 1441, 1515, 1533, 1538, 1556, 1624, 1807,
        1914, 1975, 1976, 1988, 1992, 2019, 2022, 2041, 2044, 2057, 2071,
        2075, 2189, 2207, 2210, 2211, 2266, 2268, 2288, 2350, 2370, 2382,
        2391, 2394, 2421, 2439, 2460, 2474, 2506, 2575, 2592, 2614, 2648,
        2685, 2793, 2807, 2849, 2893, 2927, 2952, 3004, 3060, 3097, 3108,
        3133, 3152, 3164, 3173, 3221, 3264, 3276, 3336, 3338, 3386, 3406,
        3407, 3422, 3471, 3541, 3628, 3713, 3761, 3763, 3767, 3840, 3881,
        3915, 3953, 4011], dtype=int64),
 14: array([  82,  154,  194,  232,  281,  344,  410,  562,  600,  639,  784,
         828,  877,  908,  921,  938, 1050, 1132, 1144, 1215, 1262, 1284,
        1361, 1431, 1435, 1468, 1502, 1523, 1579, 1675, 1784, 1802, 1861,
        1925, 1948, 2067, 2068, 2096, 2097, 2114, 2135, 2145, 2284, 2321,
        2355, 2356, 2416, 2420, 2495, 2518, 2542, 2556, 2577, 2591, 2593,
        2604, 2619, 2641, 2683, 2800, 2810, 2816, 2848, 2869, 2906, 2909,
        2954, 2960, 2962, 3025, 3140, 3170, 3232, 3236, 3270, 3311, 3433,
        3447, 3468, 3478, 3480, 3502, 3514, 3538, 3545, 3547, 3565, 3609,
        3702, 3765, 3878, 3903], dtype=int64),
 15: array([  84,   96,  133,  215,  271,  290,  342,  351,  437,  470,  527,
         544,  618,  671,  713,  716,  835,  861,  898,  930,  973, 1047,
        1122, 1134, 1174, 1221, 1291, 1323, 1392, 1447, 1583, 1585, 1595,
        1612, 1626, 1644, 1668, 1692, 1697, 1752, 1757, 1804, 1823, 1852,
        1905, 1937, 1974, 1984, 2034, 2084, 2129, 2130, 2157, 2194, 2228,
        2264, 2276, 2312, 2412, 2431, 2454, 2462, 2469, 2500, 2585, 2606,
        2610, 2622, 2632, 2763, 2792, 2798, 2867, 2944, 2976, 2989, 2998,
        3024, 3045, 3081, 3184, 3258, 3320, 3325, 3354, 3365, 3394, 3437,
        3453, 3498, 3504, 3516, 3588, 3743, 3785], dtype=int64),
 16: array([ 121,  493,  916,  949, 1110, 1113, 1244, 1248, 1342, 1345, 1409,
        1461, 1778, 1913, 2025, 2036, 2047, 2103, 2151, 2153, 2217, 2256,
        2308, 2339, 2341, 2378, 2598, 2620, 2652, 2688, 2789, 2853, 2974,
        2987, 3000, 3074, 3080, 3136, 3187, 3234, 3293, 3366, 3401, 3436,
        3499, 3586, 3648, 3679, 3746, 3753], dtype=int64),
 17: array([ 167,  786,  935, 1011, 1299, 1384, 1990, 2122, 3358, 3439],
       dtype=int64),
 18: array([ 294,  446,  485,  717,  741,  772,  810, 1213, 1333, 1570, 1573,
        1609, 1721, 1801, 1949, 2155, 2423, 2510, 2543, 2586, 2605, 2681,
        2707, 2790, 2818, 2915, 2964, 3038, 3072, 3090, 3107, 3113, 3123,
        3280, 3335, 3355, 3475, 3571, 3599, 3917, 3929], dtype=int64),
 19: array([471], dtype=int64),
 20: array([ 739, 1278, 1489, 1592, 1678, 2112, 2119, 2167, 2270, 2272, 2496,
        2545, 3368, 3732], dtype=int64),
 21: array([ 761, 1178, 1250, 1847, 2195, 2517, 2837, 3674, 3884, 3928],
       dtype=int64),
 22: array([ 923, 2318, 2488, 2636, 2692, 2832, 2891, 3208, 3557], dtype=int64),
 23: array([1035, 1295, 1395, 1462, 1981, 2016, 2038, 2161, 2220, 2238, 2243,
        2353, 2399, 2697, 2923, 2979, 2988, 2993, 3281, 3402, 3483, 3568,
        3618, 3640, 3671, 3744, 3794, 3816, 3834, 3838, 3860, 3899, 3927,
        3930, 3940, 3947, 3950, 3997, 3999, 4000, 4028], dtype=int64),
 24: array([1069, 1261, 1708, 2658, 2881, 2905, 3079, 3183, 3552, 3611, 3682,
        3863], dtype=int64),
 25: array([1202, 2078, 3253], dtype=int64),
 26: array([1254, 1285, 1356, 2589], dtype=int64),
 27: array([1327, 1843, 2134, 2571], dtype=int64),
 28: array([2415, 2502, 3733], dtype=int64),
 29: array([2541, 2787], dtype=int64),
 30: array([2977], dtype=int64)}

In [18]:
sample

{0: array([], dtype=int64),
 1: array([262526303, 115517796, 251857645, ..., 364577793, 182794289,
        230469871], dtype=int64),
 2: array([353317289, 114875565, 255030039, ...,  95804388,  39482528,
        344342489], dtype=int64),
 3: array([190289041,  38651067,  36594238, ..., 156703893,  32584182,
        348660913], dtype=int64),
 4: array([267082490, 300023022, 238631533, ..., 376186134, 390785560,
        157196025], dtype=int64),
 5: array([ 95610193, 116658055, 112479253, ...,  59369574, 125392319,
        167670976], dtype=int64),
 6: array([111482560, 239890096, 239362843, ..., 160146070, 323317838,
        371104249], dtype=int64),
 7: array([ 97620244, 273910385, 131187279, ...,  30885297,  24821284,
         30729686], dtype=int64),
 8: array([213124353,  48594899, 158317404, ..., 354291494,  89748039,
        182051580], dtype=int64),
 9: array([324885394,  83716892, 131456396, 148032266,  75986978,  75076603,
        309655054,  95691098,  42497404, 179316972,  98754252,  39803346,
          9988079,  24512912, 150926750, 313883326,  63591451,  29026749,
         36289932, 247671559,  51010526, 240224843, 183439638,  11262975,
         45021396,  51696716,  45021399,  39813779,  82035207,  63201592,
         76206789,  19880332,  28786872, 148031751,  50683264,  75188664,
         24512965,  68989176,  58581324,  29026799,  14691544, 138214414,
         46002931, 149567435,  59368999, 149482671, 162702396, 236876458,
         44636315, 145727184,  28705013,  30423627,  84912582,  75324193,
        104492215,  28657710, 125675684, 154498743,  15445556, 349008375,
        179317244, 381340736,  40884461,  43073874,  31045612,  30423488,
         59261920,  28657690, 189325393,  14691538,  36289926, 154448751,
         36289808,  24512880,  24512931,  28786815, 352875557,  58924061,
        188199271,  37974145,  52458869, 363886044,  36669696,  80158060,
         49954664,  30423462,  30662032, 199880529,  30423414,  32696566,
         79609453,  30423415,  65029953, 144508362, 143239488,  47632317,
        241001375,  19880537, 144508609,  46081182, 114191979,  19880504,
        354248966,  28657814,  28657860,  58045311,  13661805,  13810187,
         82034170,  52369524,  28786764, 140163466,  11262976,  38658038,
        147703925,  67220999,  13810193, 130762012, 143042662,  37827409,
         37432677,  10938009,  75683470,  42638056, 179315794,  13810304,
         28786772,  58294214,  89767124,  36752730,  39086586,  46420619,
         28786804,  38178443,  62614784, 199829080,  39046915,  19880307,
         36289796,  63201620,  10130331,  28786776, 390617022,  46409397,
        331885730,  11943849, 369011613, 158979894,  71174458,  37515680,
         72920722,  67225162,  37316352,  43912462,  38847836, 247668228,
         74874612,  28786762, 243729783,  24513007,  11449617,  28657695,
         60324509,  38941162,  67069914,  52075411,  38658041,  30423434,
         42495116,  19880432, 122857655,  44398632,  30423437, 118964582,
        139066955,  43752918,  14691525,  24512936,  28786994,  38178466,
         56657487,  13811578,  56657496, 105377119,  28657837,  68989181,
         76620019,  44355147,  85176926,  68988824, 121166718,  73974754,
          9982034,  28657847,  48796553,  89362259,  19880298, 210375028,
        123760751,  30423507,  44167440,  14640513,  45817460,  62135548,
         74874688, 101559192, 235946475,  28657696, 180952572,  28657776,
         30547858, 109234510,  48454748,  37857626,  40196547,  36669665,
         30423531,  46866711,  80824565,  13661785,  39712305,  45123564,
         36290120,  24513019, 268947117, 180948449,  66272161,  30027758,
         29026781,  28786795,  67183284,  28657697,  75683493,  30423621,
          9972426,  37974169, 223448046,  89376146,  58542819,  36290051,
         45405454, 277946217, 294542265,  19880281,  28704781,  38658039,
         49488460,  30547862, 201119830, 163115078,  30423530,  36289790,
         30891679,  14691465,  28786938,  42320658,  59967852,  28705006,
         10020339,  50132716, 149942342,  33230708, 146855332,  19880558,
         58294189,  19880386,  32696598,  51594993,  30423426,  33230662,
        193377150,  30423420,  28657764,  24513065,  74887204,  24512884,
         28786942, 189438897,  28705007,  36372463,  28898858,  79499090,
         36669686, 264006300,  36322421,  16628099,  19880429, 208371517,
         36289929, 148954238,  24512879,  83587675,  49488467,  36289893,
         32696586,  24513041,  28857423,  60162321,  47458062, 228136367,
        154498754,  58294194, 179424051,  96459499,  41499647, 107292371,
         36289964,  75188380,  30027713, 302907470,  29026789, 333786507,
         14691473,  51601650,  44167434,  36289803,  28786760,  39045638,
         48016497,  39111974,  80157753,  28786830,  24512897,  30400561,
        337892390,  28657688,  75326256,  36290008,  39325827, 146003101,
         65290735, 280043834,  47007415, 101558523,  10020348,  18478362,
        347184981,  97225521,  19880420,  28657857,  61876276,  68989229,
         58485381, 327870689,  98752948,  28706795,  23427742,  14691507,
         13678015,  65258136,  36872271, 329470665,  38658045,  41577580,
         89377350,  58045307,  79720330, 145718158, 137216557,  32696744,
        104121986, 139472486,  30423458, 125672634, 152661912,  69164356,
        238789391,  36289871, 200942515,  51266556,  60871988,  13898446,
        146856397, 101081449,  41167124, 104170758,  30423457,  24513012,
         77926609,  28786796,  89374928, 125670094,  28657707, 180948603,
        205089276,  36669549, 122013491, 140164017, 243729744,  95019263,
        180952561, 205573400, 162466771, 122860742,  36290145, 246143836,
        180952542,  98754264,  36289843,  14691534, 143039191,  62413929,
         40208983,  62041822, 107109075, 135175474, 139475854, 133302068,
         29026777,  77497502,  42443503, 310193669, 307840131,  14691542,
         28657673,  36289878,  89365987, 107255956,  36290155,  31331562,
        104670628,  70367325,  46002933,  10918746, 312940888,  62413918,
        109099131,  55637019,  12404534, 154840810, 132642585, 102437599,
        397000535, 168648848,  98887736,  32696626,  29026759,  24512962,
         36669625,  28898838,  95846637,  30423620,  30423556,  33230402,
         41346829,  60324587, 302071282,  39085447,  19880508,  19880490,
         39046106,  19880262,  71174475,  85176907,  99850182,  30891684,
        121471924, 167503878, 388065601, 397133270, 123023469,  46385232,
        116762374,  77061148,  15806592,  52075416,  30027775,  99985054,
        381143935,  30892008,  98181058,  28898855,  72058856,  36979207,
         32696625,  19880098,  19880270,  24512956, 101257280, 105376541,
        148415983,  30423669,  98895271,  46160824,  56946494,  29026751,
        168717834,  42703016, 324893313,  24513038,  19880424, 368951886,
         19880166,  29026804,  39432723,  19880487, 176447575,  92878413,
         30891672, 121166692,  28786771,  28657861,  40879191,  28705340,
        109468700,  49360697, 107267541,  28657852, 352875397,  74900053,
        166553744,  28706842, 105540385, 138525727, 111728292,  28786811,
         42715201,  36289943,  35757409,  29026785, 241000839,  95185063,
        223480687, 143239486,  71174445,  55039336,  19880267,  10020345,
         49546470,  30423613, 236990731,  92766372, 217292186, 140579279,
         14691527,  89372450,  92771261,  90960984, 226258754,  55039329,
         67183287,  39650990,  28657833,  60194554,  42548258, 130214773,
         28786788, 291560972,  43610927, 172853466,  33230404,  24512967,
         31482188,  24513017,  28657760,  36290153, 374302936,  61584828,
        139476732, 254498881, 309658959,  46409368, 357985630, 210374660,
        110366368,  32696559,  28786786, 110055061, 109892877,  24512957,
         97967614, 218270564,  28786806,  13810192,  89374906,  58389220,
        168718965,  10806674,  19880117,  14691506,  16582605,  28786864,
         69926477,  36290010, 110197286,  33230393, 246142383,  16501079,
         37998980, 340985702, 174116159,  94835594,  49030941, 158979772,
         28786834,  75188374,  28786798,  40745273,  38947012,  60194535,
         28657862,  31045609, 139988473,  77926720,  38941174,  28786823,
         30423424,  28786807,  36289916, 170850099, 131525800,  72901618,
        241601409,  61473215,  10020349, 139064592, 242364733, 107970008,
         24513018,  68989003,  48154907,  95833772, 285598450,  44161781,
         19880423,  63381756, 329447147,  84912082,  36872283,  38658033,
         24513014,  74723968, 253997699,  31045607,  61000028,  47458152,
         72901610, 109468249,  82035205,  16347230,  48154900,  36289999,
         30662027,  33230416,  66272331,  38559980,  36290013,  28857398,
         27062754,  24512876,  58542843,  52369521,  28786801,  80157759,
        210936900,  42638067,  28705130,  19880283,  47457997,  53079167,
         31331530, 381259683, 307804845,  49360740, 214126085, 367547248,
         13898413,  36290166, 381340573,  29026771,  16582607,  61995919,
         31331484,  70162832,  65493926,  18315447,  36289897,  24513022,
         19880491,  31371274,  45239929, 324982113,  38658035,  99986895,
         42715187,  80158049,  68989410,  13898414,  37515675,  28657774,
        362818623, 242244828,  12535753,  96176849, 321912675, 215336197,
         75188392,  28786964,  31331519,  40820139,  30423490,  72901455,
        150658191, 116767116,  14691498,  52636002,  36978510,  42320662,
         55593534, 391646750,  68988729,  59257131,  28786785,  10806676,
         42151024,  41211200,  74874635,  36290104, 150654392, 299096523,
         58582686,  30423603, 288699208,  43610948, 309658679, 144508637,
         19880227,  46002899, 172585580, 130214803,  42151027,  69164607,
         74883609,  30027739,  36289938,  36978527,  37432683,  24512961,
         24512870,  30423503,  57425183, 158979902, 101529938, 170849985,
         84913044,  59838770, 101528547,  74874691,  10749803,  72058845,
         28786985, 238786509, 269704284,  98755180, 154841394,  57857327,
         53846066,  71174450, 255212421,  62917190,  58294205,  54401481,
         48903969,  41557458,  28657699,  61875518,  19880382, 160282338,
        120287939,  61675714,  28786978,  28657701,  69931687,  37974165,
         14691533,  54248020,  99076917, 121471889,  46002919,  24512898,
         51695814,  85176930, 107969965,  92766234,  62434811,  98755178,
         19880144,  42692896, 185892131,  62413913,  15445549,  31331500,
        254004646,  19880488,  28786962, 324885543,  44925699,  10020347,
         43107298, 102433738,  62612135,  28657747,  28786961,  35089003,
         36290064, 103690134,  46002908,  30027677,  24512878,  36289994,
         28657662,  30423491,  78293306, 343525321, 120322203,  38800329,
         36289935,  61473184,  13898447,  24513051,  58731506,  41499639,
         31045608,  62041885,  59086378,  30423493,  78937500, 114772523,
        114628180,  48482377,  38869650,  38800332,  24512944,  10806678,
         46078523, 267269902, 302338140, 140485289,  90261105, 154520541,
         91528816, 197168786,  60324610,  42319705,  89917846,  10128371,
         30423417, 268950176,  32696617,  71636295, 124993768, 189412451,
         90201631,  44651865,  12535752,  89766082,  37432659,  16186848,
        124676276,   9982032,  54247987,  45065527, 320496228,  24512987,
        333786504, 311020881,  83718650,  13661720,  30423667,  54404836,
         36669677, 204457142,  53563611, 185891968, 136601478,  16186436,
        186381336, 230661823,  36289857, 351418307, 166339335,  10749802,
         54247900,  94837107, 137130278,  72901442,  71781862,  66272334,
         54957254,  28657752,  77920514,  46081149,  29026765, 302071087,
         33230391], dtype=int64),
 10: array([340344064, 401350964, 256811362, ...,  72357083, 178272139,
        366454693], dtype=int64),
 11: array([231482799, 240609109, 233141279, ..., 344305732, 243270663,
        204441361], dtype=int64),
 12: array([ 58099284,  41277042, 126289070, ...,  62187715, 114913589,
        138662977], dtype=int64),
 13: array([204332087, 153470404, 111264322, ..., 401455629, 404594522,
        390684828], dtype=int64),
 14: array([113624554, 163077160, 287550861, ..., 230118022, 268088028,
        292557339], dtype=int64),
 15: array([199214660, 234887290,  63385393, ..., 287017059, 219185102,
        240745547], dtype=int64),
 16: array([282659481, 380198949, 298683066, ..., 307998433, 339654159,
        339657103], dtype=int64),
 17: array([128123388,  18818662,  13210141,  99919500,  33599162,  53871527,
         17933616,  34649860,  99917421, 120308737,  19574392,  34165560,
         34064844, 120763694,  27950294, 319907125, 222035148, 288285047,
        123040235,  26214301, 319907115,  60973372,  78503956,  24691217,
         35944183,  36925024,  25655016, 288282459,  70007515, 226831939,
         13876839,  11699207,  20272394,  58297113,  86435519,  24691218,
         34172196, 210404050, 101527132, 330069754, 109839093,  26304759,
        104329300,  43114623,  15907313,  45050716,  24114491,  17183345,
         63830878,  11705424,  45828326, 106889324,  97744027,  16490877,
         36051209, 103462312,  79945451,  93831811, 123040403,  24911668,
        319894617,  91485905, 122797875,  35393061,  42961054, 216949035,
         35919639,  47139923,  45050717,  14860896,  36951826, 120306316,
         15299685, 130964333,  12563298,  11742822,  14387008,  52735514,
         34524296,  83294214,  86931560,  38680685,  73160926,  14860895,
         30830816,  49522429,  67003425,  29223737, 136001173, 332914322,
         99903208, 114741114,  26174701,  55294091, 118196486,  86684273,
        236972670,  90243260,  33801731,  40662584, 104328563,  57274559,
        166920687,  11699328, 115924031,  37247952, 101648134, 179778224,
        352365876,  15640454,  59058970, 344718169, 319929302,  42953248,
        174392632,  39094605,  18119769,  24044482,  18916796,  96151308,
         18887415,  23768652,  47728742,  13967418, 332909234, 105397898,
         15394980,  35484883, 344356562,  24091765,  70639361,  67515467,
        308013174,  39096785,  71160112, 298423803,  35709730, 106224564,
        319931504, 319906302,  11742992,  96720726, 288319929,  45487231,
         22826025,  71281987,  19725246,  16619978,  73854188,  25235478,
         12610264,  23080823,  11867948, 343810871, 222039867,  61539585,
        129860310,  50364121,  80130674,  14478072,  43110026,  14918120,
         58935607, 123318032,  20133237,  23873517,  17290311,  31299471,
         15513217, 236976754,  12272047, 308009809,  71297664,  15202116,
         23729925,  20369121,  94592239, 336082570,  84238287,  23257388,
         49702345,  43753879,  64686729, 335237757, 191848805,  45262673,
         22780332,  39217684,  90883707,  13530464, 370237543, 245078615,
        137176843,  24570150, 202896036,  23968714, 297993617,  15948952,
         25947546, 107434037,  48391292,  81461003,  81351036, 335243910,
        371325343, 102390545, 336082529,  97296776,  18202194,  53071550,
         53269524,  38707097,  87367141,  28547633,  54565807,  44570198,
         40236376,  33301435,  52253319,  64872797, 308017204,  13713611,
         97305217,  17016309,  57936592,  16381813,  24656737,  42563313,
         35276872, 134821535,  12537162,  64601654,  17969443, 308013056,
         22859115, 259061006, 114446986,  60602972,  14339164,  46775117,
         82748977,  64517002,  35072148,  15648197,  79503845,  11846531,
        104815847,  15644069, 288282462,  35941800,  66409674,  23931142,
        259066532, 183375275,  29048760,  15235762,  13812839,  15789638,
        248086304,  35484873, 352370298,  35270938,  47132129,  27542349,
         12900977,  38487005, 109190615,  21452061,  24956741,  92998799,
         14808752,  27468154, 335240805,  19310196,  34941135, 332913835,
         18729918,  49180205, 232981645,  19495332,  20200743,  30719346,
         63622553, 344357016,  69584850, 297733931,  86168526, 120362105,
         37734276,  57858256,  16778881,  21884594,  74781063,  81522134,
         40015968, 107574590,  54391217,  28548756,  25053671, 170819979,
         62319282,  26541483, 123523099, 207968978,  41730072, 131593483,
         43838213,  34343181,  14360767,  15278616,  16149459, 125592059,
        288321814,  95523558,  21914971,  71475065,  19150182, 184216716,
        138804015,  23257370,  78111184,  12406519,  36139821,  53818139,
        103225869,  17528334,  71613371, 146957333,  40203243, 251613494,
         41694444,  39965080, 355789950,  31483610,  59878890,  80693219,
         11746822, 222026774,  85101563,  47467072,  12698661, 133920432,
         88312876,  24699564,  29929802,  24549488,  47734047,  11705422,
         23257412,  19171600,  15530671,  56566578,  51022712, 214698471,
         23573792,  32710424,  45973214, 107860746,  13687502, 344352269,
         15085461, 236980722,  14579774, 301691899, 236996083, 216946202,
         18336083, 217963633,  13616813,  65337783, 202768781, 183371934,
         14349152,  41635375, 244503643,  79948125,  90435638,  35546631,
         11785125, 214704825, 267959501, 299104750,  64083826, 168838132,
         11636442,  55464116,  14403093,  67192129, 121408569,  80671372,
         76730822,  45140581,  15331790,  40329116,  58491697,  43215238,
         40803638,  70308473,  67298206,  27669328,  17263113,  52459205,
         13615694, 263540621,  13903740, 148899702,  40200981, 110187406,
         66246794,  70210397,  24691219,  94049498,  25874419, 103077857,
        355815001, 193440461,  29374570, 138768237,  37059833,  37044985,
        308013060,  17969454,  30889607,  61205224,  40817422,  97454928,
         12191289, 201548901,  13467945,  26055085,  30716442,  15910693,
         27749503, 144380398, 150297671, 352365871,  12599671, 193433385,
         12698660,  19619016,  87147915, 344718543, 308891238, 102405922,
        148607973,  92268241, 128954585,  15152246,  17365244,  38821760,
         24032387, 193435889, 262575968,  18818748, 336551838,  15085352,
         83737496, 146865615, 105719011,  14811848,  21587860,  24710743,
        212087139, 258539847, 355816777,  14922521,  16490873, 135737554,
         22537210,  47235050,  71916225,  24716572,  15640450,  16213450,
         50974241,  75251356,  57178162, 139895665, 144768905, 317720316,
         75132012,  34603912,  65790220, 137370166,  13700628,  15113914,
         18497259,  24612854, 108028078,  62675883,  48397966,  81820744,
         14238390,  37990528, 149707909,  55708218, 146853851,  96151319,
         21116519, 335247218, 297731365,  59876878, 112770635,  30235024,
         39874034,  36369501,  23573790, 133341005,  28858392,  57173483,
         44569537, 137870959,  68746346,  98848282,  54393319,  32885014,
        308013164, 143172096,  26987495, 224093248,  23526671,  30717226,
        288319925,  12444780, 152231221,  21122426,  93724635,  16862625,
         83453466, 319894627, 181655826,  44179122,  41885621,  30281067,
         28034887,  46173333, 142921815,  30245000,  99927365, 183374958,
         19310199,  13223868,  85196553,  51624045,  28637985, 103685481,
         17666286,  14688932,  28992470, 102546560, 301691883,  59069062,
         56668514, 259075069,  19037519,  15964288, 130428279,  12284296,
         61711602, 116247111, 176284084,  47666571,  45417851,  16649981,
         15114541,  37374610,  11766251,  80816128,  50537979, 123532625,
         25265172,  24500357,  12631492, 232983112,  56668521,  13616257,
         64844021,  84406894,  31434845,  53273798, 113903879,  31421589,
         77468688,  39245623,  70873920,  24218490,  35832540, 291505571,

In [19]:
rows_with_NaN.isnull().sum()

Battery_Generation             25453
Fleet_ID                      138098
Country                            1
Vehicle_MRK_TYPE                   0
CURRENT_YEARLY_MILEAGE             0
Mounted_Battery_Generation        79
Measure_R_D                    87568
Engine_Type                   136127
Geo_Area                      136988
City                          148857
Cluster                       293303
IS_PATTERN_AVAILABLE               0
IS_FLEET_TOF_MONITORED             0
IS_CHECKED_IN_VDA                  0
Battery_Supplier               25453
dtype: int64

In [20]:
rows_with_NaN.iloc[:,0].value_counts()

1.0    185968
3.0     73849
2.0     33066
4.0     12562
6.0      2273
5.0      1310
Name: Battery_Generation, dtype: int64

In [21]:
without_null

,Battery_Generation,Fleet_ID,Country,Vehicle_MRK_TYPE,CURRENT_YEARLY_MILEAGE,Mounted_Battery_Generation,Measure_R_D,Engine_Type,Geo_Area,City,Cluster,IS_PATTERN_AVAILABLE,IS_FLEET_TOF_MONITORED,IS_CHECKED_IN_VDA,Battery_Supplier
0,1.0,1.0,1.0,1,1,1.0,1.0,1.0,1.0,1.0,1.0,0,1,0,1.0
1,1.0,1.0,1.0,1,1,1.0,1.0,1.0,1.0,1.0,1.0,0,1,0,1.0
2,1.0,1.0,1.0,1,1,1.0,1.0,1.0,1.0,1.0,1.0,0,1,0,1.0
3,1.0,1.0,1.0,1,1,1.0,1.0,1.0,1.0,1.0,1.0,0,1,0,1.0
4,1.0,1.0,1.0,1,1,1.0,1.0,1.0,1.0,1.0,1.0,0,1,0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
861656,3.0,258.0,1.0,6,3,3.0,3.0,2.0,1.0,1.0,1.0,0,1,0,3.0
861657,3.0,258.0,1.0,6,3,3.0,3.0,2.0,1.0,1.0,1.0,0,1,0,3.0
861658,3.0,258.0,1.0,6,3,3.0,3.0,2.0,1.0,1.0,1.0,0,1,0,3.0
861659,3.0,258.0,1.0,6,3,3.0,3.0,2.0,1.0,1.0,1.0,0,1,0,3.0
861660,3.0,258.0,1.0,6,3,3.0,3.0,2.0,1.0,1.0,1.0,0,1,0,3.0

In [22]:
without_null.iloc[:,1].unique()

array([  1.,   2.,   3.,   4.,   5.,   6.,   8.,  10.,  11.,  12.,  14.,
        15.,  16.,  17.,  18.,  19.,  22.,  24.,  26.,  27.,  28.,  29.,
        30.,  31.,  32.,  33.,  34.,  35.,  36.,  37.,  38.,  39.,  40.,
        43.,  44.,  45.,  46.,  48.,  51.,  52.,  53.,  55.,  56.,  57.,
        59.,  61.,  62.,  63.,  64.,  66.,  67.,  69.,  70.,  71.,  72.,
        73.,  74.,  76.,  80.,  81.,  82.,  83.,  85.,  86.,  88.,  89.,
        92.,  93.,  94.,  96.,  97.,  99., 100., 101., 102., 105., 106.,
       107.,  47., 116., 118., 119., 120., 123., 125., 126., 128., 135.,
       136., 137., 139., 141., 143., 148., 151., 152., 153., 154., 156.,
       158., 160., 161., 163., 164., 165., 168., 170., 171., 172., 174.,
       176., 180., 182., 183., 186., 187., 190., 192., 195., 196., 197.,
       200., 206., 208., 209., 210., 211., 215., 216., 217., 218., 220.,
       221., 226., 228., 229., 231., 232., 234., 235., 239., 240., 246.,
       247., 248., 250., 254., 258., 259., 263., 264., 265., 270., 272.,
       273., 276., 277., 278., 280., 283., 284., 285., 286., 287., 290.,
       291., 292., 294., 256.])

In [23]:
without_null.iloc[:,0].unique()

array([1., 2., 3., 5., 6., 4.])

In [24]:
b_fleet={}
b_country={}
for i in range(7):
    c1=without_null[without_null['Battery_Generation']==i]
    b_fleet[i]=list(sorted(c1['Fleet_ID'].unique()))
    b_country[i]=sorted(c1['Country'].unique())

In [25]:
b_fleet

{0: [],
 1: [1.0,
  2.0,
  3.0,
  6.0,
  8.0,
  10.0,
  11.0,
  12.0,
  16.0,
  17.0,
  18.0,
  22.0,
  24.0,
  26.0,
  28.0,
  30.0,
  32.0,
  33.0,
  36.0,
  37.0,
  38.0,
  40.0,
  43.0,
  44.0,
  45.0,
  46.0,
  48.0,
  51.0,
  53.0,
  56.0,
  57.0,
  59.0,
  61.0,
  62.0,
  66.0,
  67.0,
  70.0,
  73.0,
  76.0,
  82.0,
  83.0,
  85.0,
  88.0,
  96.0,
  100.0,
  101.0,
  105.0,
  106.0,
  107.0,
  116.0,
  123.0,
  136.0,
  137.0,
  143.0,
  158.0,
  161.0,
  164.0,
  196.0,
  209.0,
  218.0,
  226.0,
  228.0,
  229.0,
  286.0],
 2: [3.0,
  4.0,
  5.0,
  8.0,
  10.0,
  14.0,
  15.0,
  34.0,
  38.0,
  47.0,
  48.0,
  63.0,
  69.0,
  74.0,
  80.0,
  82.0,
  93.0,
  118.0,
  148.0,
  151.0,
  160.0,
  165.0,
  170.0,
  190.0,
  206.0,
  240.0],
 3: [4.0,
  5.0,
  8.0,
  14.0,
  15.0,
  19.0,
  27.0,
  29.0,
  31.0,
  34.0,
  39.0,
  47.0,
  52.0,
  55.0,
  63.0,
  64.0,
  69.0,
  71.0,
  72.0,
  74.0,
  80.0,
  81.0,
  86.0,
  89.0,
  92.0,
  93.0,
  94.0,
  97.0,
  99.0,
  102.0,
  118.0,
  119.0,
  120.0,
  125.0,
  126.0,
  128.0,
  135.0,
  139.0,
  141.0,
  148.0,
  151.0,
  152.0,
  153.0,
  154.0,
  156.0,
  160.0,
  163.0,
  165.0,
  168.0,
  170.0,
  171.0,
  172.0,
  174.0,
  176.0,
  180.0,
  182.0,
  183.0,
  186.0,
  190.0,
  192.0,
  195.0,
  197.0,
  206.0,
  208.0,
  210.0,
  211.0,
  217.0,
  220.0,
  221.0,
  231.0,
  232.0,
  234.0,
  235.0,
  240.0,
  246.0,
  247.0,
  248.0,
  250.0,
  256.0,
  258.0,
  259.0,
  263.0,
  264.0,
  265.0,
  272.0,
  273.0,
  277.0,
  278.0,
  280.0,
  284.0,
  294.0],
 4: [105.0],
 5: [34.0,
  35.0,
  55.0,
  80.0,
  89.0,
  92.0,
  94.0,
  99.0,
  102.0,
  119.0,
  120.0,
  141.0,
  154.0,
  156.0,
  165.0,
  172.0,
  174.0,
  187.0,
  200.0,
  211.0,
  215.0,
  216.0,
  220.0,
  235.0,
  254.0,
  270.0,
  272.0,
  273.0,
  276.0,
  283.0,
  287.0,
  290.0,
  291.0],
 6: [29.0,
  31.0,
  92.0,
  94.0,
  99.0,
  102.0,
  139.0,
  153.0,
  154.0,
  170.0,
  197.0,
  210.0,
  220.0,
  239.0,
  264.0,
  277.0,
  285.0,
  292.0]}

In [26]:
data['Country'].unique()

array([ 1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10., 11., 12., 13.,
       14., 15., 16., 17., 18., 19., 20., 21., 22., 23., 24., 25., 26.,
       27., nan])

In [27]:
b_country

{0: [],
 1: [1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 9.0, 11.0, 13.0, 17.0, 21.0],
 2: [1.0, 2.0, 3.0, 4.0, 5.0, 9.0, 17.0],
 3: [1.0,
  2.0,
  3.0,
  4.0,
  5.0,
  6.0,
  7.0,
  8.0,
  9.0,
  10.0,
  11.0,
  18.0,
  19.0,
  20.0,
  22.0],
 4: [5.0],
 5: [1.0, 3.0, 4.0, 5.0, 7.0, 8.0, 9.0, 11.0, 17.0, 18.0, 20.0, 21.0],
 6: [1.0, 2.0, 3.0, 4.0, 8.0, 13.0, 18.0, 20.0, 21.0]}

In [28]:
rows_with_NaN

,Battery_Generation,Fleet_ID,Country,Vehicle_MRK_TYPE,CURRENT_YEARLY_MILEAGE,Mounted_Battery_Generation,Measure_R_D,Engine_Type,Geo_Area,City,Cluster,IS_PATTERN_AVAILABLE,IS_FLEET_TOF_MONITORED,IS_CHECKED_IN_VDA,Battery_Supplier
4306,1.0,NaN,1.0,1,2,1.0,5.0,1.0,1.0,4.0,NaN,0,0,0,1.0
4307,1.0,NaN,1.0,1,2,1.0,5.0,1.0,1.0,4.0,NaN,0,0,0,1.0
4308,1.0,NaN,1.0,1,2,1.0,5.0,1.0,1.0,4.0,NaN,0,0,0,1.0
4309,1.0,NaN,1.0,1,2,1.0,5.0,1.0,1.0,4.0,NaN,0,0,0,1.0
4310,1.0,NaN,1.0,1,2,1.0,5.0,1.0,1.0,4.0,NaN,0,0,0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
861911,5.0,NaN,27.0,3,3,5.0,37.0,2.0,1.0,4.0,8.0,1,0,0,3.0
861912,2.0,188.0,22.0,1,23,2.0,NaN,NaN,NaN,NaN,NaN,0,0,0,2.0
861913,3.0,256.0,2.0,3,3,3.0,5.0,2.0,1.0,9.0,NaN,1,0,0,3.0
861914,5.0,NaN,5.0,8,3,5.0,37.0,2.0,1.0,4.0,4.0,1,0,0,3.0
861915,2.0,NaN,1.0,1,3,2.0,NaN,NaN,NaN,NaN,NaN,0,0,0,2.0

In [29]:
v1=data.loc[:,c]

In [30]:
r=data[data['Vehicle_ID']==1]

In [31]:
r

,Sample_ID,Charge_mode_DISTANCE,SEND_TIME,Vehicle_ID,Operation_TIME,Operation_DISTANCE,Sender,Gear_Level_Auto_Time,Gear_Level_Man_Time,Total_Distance,...,City,Cluster,Measure_ROw,Is_Bttery_Changed,IS_PATTERN_AVAILABLE,IS_FLEET_TOF_MONITORED,IS_CHECKED_IN_VDA,IS_Battery_Supplier_Type2_FAULTY,IS_VIP_FLEET,Battery_Supplier
0,262526303,NaN,2019-03-11 17:35:14,1,9157.192,247897.59,1,NaN,NaN,NaN,...,1.0,1.0,1452,0,0,1,0,0,0,1.0
1,115517796,NaN,2017-11-10 18:09:35,1,3146.041,161516.35,1,NaN,NaN,50943.11,...,1.0,1.0,1452,0,0,1,0,0,0,1.0
2,251857645,NaN,2019-02-21 07:24:22,1,8900.673,134506.02,2,NaN,NaN,134506.02,...,1.0,1.0,1452,0,0,1,0,0,0,1.0
3,47893312,NaN,2015-12-20 16:26:27,1,1386.207,27599.18,1,NaN,NaN,26583.39,...,1.0,1.0,1452,0,0,1,0,0,0,1.0
4,96601019,NaN,2017-06-12 13:01:16,1,1146.683,129568.38,1,NaN,NaN,18833.12,...,1.0,1.0,1452,0,0,1,0,0,0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64,127351000,NaN,2018-01-10 09:44:38,1,3982.063,175429.49,1,NaN,NaN,64926.34,...,1.0,1.0,1452,0,0,1,0,0,0,1.0
65,400568574,NaN,2019-10-04 11:52:06,1,11433.057,167726.45,2,NaN,NaN,167726.45,...,1.0,1.0,1452,0,0,1,0,0,0,1.0
66,319469381,NaN,2019-06-27 07:25:36,1,10548.937,156746.44,2,NaN,NaN,156746.44,...,1.0,1.0,1452,0,0,1,0,0,0,1.0
67,157143345,NaN,2018-06-01 09:13:03,1,5842.203,202303.20,1,NaN,NaN,91945.18,...,1.0,1.0,1452,0,0,1,0,0,0,1.0
68,315130113,NaN,2019-06-20 07:25:34,1,10471.388,155697.05,2,NaN,NaN,155697.05,...,1.0,1.0,1452,0,0,1,0,0,0,1.0

In [32]:
r.isnull().sum()

Sample_ID                            0
Charge_mode_DISTANCE                69
SEND_TIME                            0
Vehicle_ID                           0
Operation_TIME                       0
                                    ..
IS_FLEET_TOF_MONITORED               0
IS_CHECKED_IN_VDA                    0
IS_Battery_Supplier_Type2_FAULTY     0
IS_VIP_FLEET                         0
Battery_Supplier                     0
Length: 76, dtype: int64

In [33]:
r1=data[data['Vehicle_ID']==2]

In [34]:
r1.isnull().sum()

Sample_ID                             0
Charge_mode_DISTANCE                354
SEND_TIME                             0
Vehicle_ID                            0
Operation_TIME                        0
                                   ...
IS_FLEET_TOF_MONITORED                0
IS_CHECKED_IN_VDA                     0
IS_Battery_Supplier_Type2_FAULTY      0
IS_VIP_FLEET                          0
Battery_Supplier                      0
Length: 76, dtype: int64

In [35]:
r1.head()

,Sample_ID,Charge_mode_DISTANCE,SEND_TIME,Vehicle_ID,Operation_TIME,Operation_DISTANCE,Sender,Gear_Level_Auto_Time,Gear_Level_Man_Time,Total_Distance,...,City,Cluster,Measure_ROw,Is_Bttery_Changed,IS_PATTERN_AVAILABLE,IS_FLEET_TOF_MONITORED,IS_CHECKED_IN_VDA,IS_Battery_Supplier_Type2_FAULTY,IS_VIP_FLEET,Battery_Supplier
69,353317289,NaN,2019-08-15 07:14:28,2,20751.186,393759.89,2,NaN,NaN,NaN,...,2.0,1.0,1055,0,0,0,0,0,1,1.0
70,114875565,NaN,2017-11-07 06:09:13,2,12756.815,263334.98,1,NaN,NaN,254948.64,...,2.0,1.0,1055,0,0,0,0,0,1,1.0
71,255030039,NaN,2019-02-27 07:29:38,2,18946.277,356906.75,2,NaN,NaN,356906.75,...,2.0,1.0,1055,0,0,0,0,0,1,1.0
72,259288222,NaN,2019-03-06 07:28:31,2,19049.422,358537.68,2,NaN,NaN,358537.68,...,2.0,1.0,1055,0,0,0,0,0,1,1.0
73,19942818,NaN,2014-06-13 15:09:24,2,48.899,NaN,1,NaN,NaN,NaN,...,2.0,1.0,1055,0,0,0,0,0,1,1.0

In [8]:
c=['Vehicle_ID','Sample_ID','State_Of_Health_Battery','Battery_Generation','Fleet_ID','Country','Vehicle_MRK_TYPE',
 'CURRENT_YEARLY_MILEAGE','Mounted_Battery_Generation',
 'Measure_R_D','Engine_Type','Geo_Area',
 'City','Cluster','IS_PATTERN_AVAILABLE','IS_FLEET_TOF_MONITORED',
 'IS_CHECKED_IN_VDA','Battery_Supplier']

In [9]:
vc=data[c]

In [10]:
vc['Vehicle_ID'].unique()

array([   1,    2,    3, ..., 4029, 4030, 4031], dtype=int64)

In [11]:
veh_1=vc[vc['Vehicle_ID']==1]

In [40]:
veh_1.shape

(69, 18)

In [41]:
veh_1.isnull().sum()

Vehicle_ID                     0
Sample_ID                      0
State_Of_Health_Battery       36
Battery_Generation             0
Fleet_ID                       0
Country                        0
Vehicle_MRK_TYPE               0
CURRENT_YEARLY_MILEAGE         0
Mounted_Battery_Generation     0
Measure_R_D                    0
Engine_Type                    0
Geo_Area                       0
City                           0
Cluster                        0
IS_PATTERN_AVAILABLE           0
IS_FLEET_TOF_MONITORED         0
IS_CHECKED_IN_VDA              0
Battery_Supplier               0
dtype: int64

In [42]:
veh_1['Geo_Area'].unique()

array([1.])

In [43]:
coun={}
geo={}
cit={}
fleet={}
for i in range(len(data['Vehicle_ID'].unique())):
    v1=data[data['Vehicle_ID']==i]
    coun[i]=v1['Country'].unique()
    geo[i]=v1['Geo_Area'].unique()
    cit[i]=v1['City'].unique()

    fleet[i]=v1['Fleet_ID'].unique()

In [44]:
fleet

{0: array([], dtype=float64),
 1: array([1.]),
 2: array([2.]),
 3: array([3.]),
 4: array([4.]),
 5: array([5.]),
 6: array([nan]),
 7: array([6.]),
 8: array([7.]),
 9: array([3.]),
 10: array([8.]),
 11: array([9.]),
 12: array([10.]),
 13: array([2.]),
 14: array([nan]),
 15: array([3.]),
 16: array([11.]),
 17: array([12.]),
 18: array([5.]),
 19: array([13.]),
 20: array([nan]),
 21: array([nan]),
 22: array([14.]),
 23: array([8.]),
 24: array([15.]),
 25: array([nan]),
 26: array([nan]),
 27: array([16.]),
 28: array([17.]),
 29: array([nan]),
 30: array([18.]),
 31: array([14.]),
 32: array([19.]),
 33: array([20.]),
 34: array([8.]),
 35: array([21.]),
 36: array([22.]),
 37: array([6.]),
 38: array([23.]),
 39: array([11.]),
 40: array([nan]),
 41: array([24.]),
 42: array([25.]),
 43: array([26.]),
 44: array([5.]),
 45: array([27.]),
 46: array([28.]),
 47: array([nan]),
 48: array([20.]),
 49: array([29.]),
 50: array([21.]),
 51: array([30.]),
 52: array([31.]),
 53: array([32.]),
 54: array([33.]),
 55: array([nan]),
 56: array([34.]),
 57: array([10.]),
 58: array([35.]),
 59: array([4.]),
 60: array([nan]),
 61: array([nan]),
 62: array([20.]),
 63: array([4.]),
 64: array([nan]),
 65: array([36.]),
 66: array([37.]),
 67: array([38.]),
 68: array([17.]),
 69: array([24.]),
 70: array([39.]),
 71: array([40.]),
 72: array([21.]),
 73: array([4.]),
 74: array([41.]),
 75: array([42.]),
 76: array([nan]),
 77: array([14.]),
 78: array([8.]),
 79: array([43.]),
 80: array([nan]),
 81: array([28.]),
 82: array([44.]),
 83: array([45.]),
 84: array([36.]),
 85: array([46.]),
 86: array([47.]),
 87: array([13.]),
 88: array([21.]),
 89: array([11.]),
 90: array([42.]),
 91: array([11.]),
 92: array([48.]),
 93: array([31.]),
 94: array([20.]),
 95: array([15.]),
 96: array([49.]),
 97: array([50.]),
 98: array([6.]),
 99: array([51.]),
 100: array([nan]),
 101: array([52.]),
 102: array([4.]),
 103: array([nan]),
 104: array([53.]),
 105: array([45.]),
 106: array([33.]),
 107: array([54.]),
 108: array([42.]),
 109: array([55.]),
 110: array([56.]),
 111: array([57.]),
 112: array([28.]),
 113: array([58.]),
 114: array([33.]),
 115: array([nan]),
 116: array([59.]),
 117: array([nan]),
 118: array([45.]),
 119: array([3.]),
 120: array([59.]),
 121: array([60.]),
 122: array([32.]),
 123: array([nan]),
 124: array([37.]),
 125: array([32.]),
 126: array([22.]),
 127: array([61.]),
 128: array([28.]),
 129: array([58.]),
 130: array([62.]),
 131: array([nan]),
 132: array([63.]),
 133: array([36.]),
 134: array([64.]),
 135: array([4.]),
 136: array([65.]),
 137: array([8.]),
 138: array([42.]),
 139: array([48.]),
 140: array([66.]),
 141: array([62.]),
 142: array([53.]),
 143: array([5.]),
 144: array([nan]),
 145: array([nan]),
 146: array([67.]),
 147: array([21.]),
 148: array([48.]),
 149: array([15.]),
 150: array([5.]),
 151: array([nan]),
 152: array([58.]),
 153: array([3.]),
 154: array([68.]),
 155: array([69.]),
 156: array([65.]),
 157: array([nan]),
 158: array([4.]),
 159: array([34.]),
 160: array([70.]),
 161: array([42.]),
 162: array([21.]),
 163: array([17.]),
 164: array([nan]),
 165: array([45.]),
 166: array([nan]),
 167: array([71.]),
 168: array([72.]),
 169: array([15.]),
 170: array([11.]),
 171: array([73.]),
 172: array([32.]),
 173: array([65.]),
 174: array([55.]),
 175: array([nan]),
 176: array([63.]),
 177: array([nan]),
 178: array([59.]),
 179: array([17.]),
 180: array([51.]),
 181: array([nan]),
 182: array([74.]),
 183: array([14.]),
 184: array([nan]),
 185: array([18.]),
 186: array([21.]),
 187: array([75.]),
 188: array([nan]),
 189: array([nan]),
 190: array([45.]),
 191: array([11.]),
 192: array([nan]),
 193: array([39.]),
 194: array([68.]),
 195: array([76.]),
 196: array([nan]),
 197: array([25.]),
 198: array([53.]),
 199: array([nan]),
 200: array([nan]),
 201: array([8.]),
 202: array([8.]),
 203: array([20.]),
 204: array([77.]),
 205: array([nan]),
 206: array([78.]),
 207: array([79.]),
 208: array([nan]),
 209: array([30.]),
 210: array([20.]),
 211: array([11.]),
 212: array([63.]),
 213: array([17.]),
 214: array([20.]),
 215: array([80.]),
 216: array([81.]),
 217: array([82.]),
 218: array([nan]),
 219: array([37.]),
 220: array([17.]),
 221: array([8.]),
 222: array([nan]),
 223: array([48.]),
 224: array([37.]),
 225: array([nan]),
 226: array([8.]),
 227: array([nan]),
 228: array([20.]),
 229: array([42.]),
 230: array([nan]),
 231: array([17.]),
 232: array([83.]),
 233: array([11.]),
 234: array([20.]),
 235: array([11.]),
 236: array([67.]),
 237: array([84.]),
 238: array([36.]),
 239: array([nan]),
 240: array([6.]),
 241: array([nan]),
 242: array([nan]),
 243: array([37.]),
 244: array([82.]),
 245: array([14.]),
 246: array([85.]),
 247: array([86.]),
 248: array([63.]),
 249: array([32.]),
 250: array([21.]),
 251: array([67.]),
 252: array([66.]),
 253: array([3.]),
 254: array([87.]),
 255: array([15.]),
 256: array([57.]),
 257: array([15.]),
 258: array([10.]),
 259: array([76.]),
 260: array([nan]),
 261: array([65.]),
 262: array([2.]),
 263: array([58.]),
 264: array([37.]),
 265: array([nan]),
 266: array([61.]),
 267: array([14.]),
 268: array([nan]),
 269: array([58.]),
 270: array([nan]),
 271: array([45.]),
 272: array([nan]),
 273: array([21.]),
 274: array([nan]),
 275: array([nan]),
 276: array([88.]),
 277: array([nan]),
 278: array([4.]),
 279: array([89.]),
 280: array([42.]),
 281: array([68.]),
 282: array([nan]),
 283: array([nan]),
 284: array([90.]),
 285: array([91.]),
 286: array([14.]),
 287: array([36.]),
 288: array([92.]),
 289: array([45.]),
 290: array([93.]),
 291: array([6.]),
 292: array([15.]),
 293: array([37.]),
 294: array([94.]),
 295: array([3.]),
 296: array([95.]),
 297: array([46.]),
 298: array([nan]),
 299: array([29.]),
 300: array([13.]),
 301: array([28.]),
 302: array([54.]),
 303: array([29.]),
 304: array([39.]),
 305: array([26.]),
 306: array([32.]),
 307: array([6.]),
 308: array([96.]),
 309: array([6.]),
 310: array([97.]),
 311: array([38.]),
 312: array([78.]),
 313: array([15.]),
 314: array([59.]),
 315: array([16.]),
 316: array([98.]),
 317: array([8.]),
 318: array([37.]),
 319: array([99.]),
 320: array([nan]),
 321: array([33.]),
 322: array([100.]),
 323: array([6.]),
 324: array([101.]),
 325: array([nan]),
 326: array([38.]),
 327: array([13.]),
 328: array([37.]),
 329: array([62.]),
 330: array([37.]),
 331: array([nan]),
 332: array([73.]),
 333: array([1.]),
 334: array([34.]),
 335: array([32.]),
 336: array([48.]),
 337: array([21.]),
 338: array([48.]),
 339: array([37.]),
 340: array([nan]),
 341: array([nan]),
 342: array([36.]),
 343: array([1.]),
 344: array([102.]),
 345: array([50.]),
 346: array([21.]),
 347: array([103.]),
 348: array([53.]),
 349: array([37.]),
 350: array([104.]),
 351: array([105.]),
 352: array([nan]),
 353: array([106.]),
 354: array([38.]),
 355: array([57.]),
 356: array([65.]),
 357: array([nan]),
 358: array([nan]),
 359: array([74.]),
 360: array([74.]),
 361: array([nan]),
 362: array([107.]),
 363: array([21.]),
 364: array([17.]),
 365: array([50.]),
 366: array([4.]),
 367: array([108.]),
 368: array([14.]),
 369: array([nan]),
 370: array([109.]),
 371: array([nan]),
 372: array([88.]),
 373: array([110.]),
 374: array([111.]),
 375: array([15.]),
 376: array([47.]),
 377: array([15.]),
 378: array([nan]),
 379: array([4.]),
 380: array([59.]),
 381: array([112.]),
 382: array([57.]),
 383: array([47.]),
 384: array([5.]),
 385: array([14.]),
 386: array([54.]),
 387: array([nan]),
 388: array([63.]),
 389: array([nan]),
 390: array([nan]),
 391: array([6.]),
 392: array([nan]),
 393: array([28.]),
 394: array([42.]),
 395: array([nan]),
 396: array([113.]),
 397: array([107.]),
 398: array([20.]),
 399: array([38.]),
 400: array([54.]),
 401: array([nan]),
 402: array([65.]),
 403: array([22.]),
 404: array([25.]),
 405: array([75.]),
 406: array([70.]),
 407: array([nan]),
 408: array([5.]),
 409: array([114.]),
 410: array([44.]),
 411: array([85.]),
 412: array([nan]),
 413: array([nan]),
 414: array([nan]),
 415: array([nan]),
 416: array([nan]),
 417: array([nan]),
 418: array([57.]),
 419: array([115.]),
 420: array([5.]),
 421: array([nan]),
 422: array([20.]),
 423: array([nan]),
 424: array([2.]),
 425: array([nan]),
 426: array([37.]),
 427: array([21.]),
 428: array([nan]),
 429: array([2.]),
 430: array([32.]),
 431: array([5.]),
 432: array([nan]),
 433: array([47.]),
 434: array([74.]),
 435: array([14.]),
 436: array([nan]),
 437: array([45.]),
 438: array([73.]),
 439: array([116.]),
 440: array([2.]),
 441: array([96.]),
 442: array([nan]),
 443: array([33.]),
 444: array([17.]),
 445: array([14.]),
 446: array([117.]),
 447: array([100.]),
 448: array([nan]),
 449: array([22.]),
 450: array([31.]),
 451: array([111.]),
 452: array([37.]),
 453: array([118.]),
 454: array([70.]),
 455: array([8.]),
 456: array([11.]),
 457: array([119.]),
 458: array([13.]),
 459: array([4.]),
 460: array([10.]),
 461: array([8.]),
 462: array([74.]),
 463: array([16.]),
 464: array([119.]),
 465: array([21.]),
 466: array([nan]),
 467: array([29.]),
 468: array([41.]),
 469: array([nan]),
 470: array([120.]),
 471: array([121.]),
 472: array([nan]),
 473: array([39.]),
 474: array([nan]),
 475: array([nan]),
 476: array([42.]),
 477: array([65.]),
 478: array([21.]),
 479: array([nan]),
 480: array([122.]),
 481: array([nan]),
 482: array([101.]),
 483: array([31.]),
 484: array([32.]),
 485: array([123.]),
 486: array([14.]),
 487: array([nan]),
 488: array([25.]),
 489: array([14.]),
 490: array([42.]),
 491: array([113.]),
 492: array([13.]),
 493: array([60.]),
 494: array([124.]),
 495: array([nan]),
 496: array([nan]),
 497: array([79.]),
 498: array([125.]),
 499: array([4.]),
 500: array([nan]),
 501: array([59.]),
 502: array([42.]),
 503: array([79.]),
 504: array([21.]),
 505: array([nan]),
 506: array([13.]),
 507: array([nan]),
 508: array([126.]),
 509: array([41.]),
 510: array([74.]),
 511: array([42.]),
 512: array([127.]),
 513: array([nan]),
 514: array([nan]),
 515: array([128.]),
 516: array([126.]),
 517: array([nan]),
 518: array([8.]),
 519: array([48.]),
 520: array([20.]),
 521: array([nan]),
 522: array([107.]),
 523: array([57.]),
 524: array([42.]),
 525: array([15.]),
 526: array([5.]),
 527: array([120.]),
 528: array([92.]),
 529: array([nan]),
 530: array([129.]),
 531: array([nan]),
 532: array([33.]),
 533: array([nan]),
 534: array([128.]),
 535: array([65.]),
 536: array([nan]),
 537: array([nan]),
 538: array([nan]),
 539: array([nan]),
 540: array([nan]),
 541: array([57.]),
 542: array([nan]),
 543: array([nan]),
 544: array([120.]),
 545: array([nan]),
 546: array([130.]),
 547: array([47.]),
 548: array([15.]),
 549: array([11.]),
 550: array([10.]),
 551: array([32.]),
 552: array([45.]),
 553: array([nan]),
 554: array([nan]),
 555: array([13.]),
 556: array([nan]),
 557: array([131.]),
 558: array([48.]),
 559: array([114.]),
 560: array([nan]),
 561: array([51.]),
 562: array([83.]),
 563: array([132.]),
 564: array([nan]),
 565: array([nan]),
 566: array([97.]),
 567: array([47.]),
 568: array([82.]),
 569: array([10.]),
 570: array([133.]),
 571: array([nan]),
 572: array([39.]),
 573: array([63.]),
 574: array([nan]),
 575: array([nan]),
 576: array([nan]),
 577: array([107.]),
 578: array([nan]),
 579: array([62.]),
 580: array([61.]),
 581: array([4.]),
 582: array([nan]),
 583: array([47.]),
 584: array([18.]),
 585: array([31.]),
 586: array([17.]),
 587: array([63.]),
 588: array([62.]),
 589: array([14.]),
 590: array([nan]),
 591: array([48.]),
 592: array([95.]),
 593: array([42.]),
 594: array([134.]),
 595: array([135.]),
 596: array([136.]),
 597: array([nan]),
 598: array([nan]),
 599: array([nan]),
 600: array([68.]),
 601: array([19.]),
 602: array([37.]),
 603: array([7.]),
 604: array([84.]),
 605: array([137.]),
 606: array([62.]),
 607: array([63.]),
 608: array([65.]),
 609: array([73.]),
 610: array([37.]),
 611: array([21.]),
 612: array([45.]),
 613: array([47.]),
 614: array([91.]),
 615: array([nan]),
 616: array([63.]),
 617: array([138.]),
 618: array([120.]),
 619: array([139.]),
 620: array([6.]),
 621: array([62.]),
 622: array([nan]),
 623: array([140.]),
 624: array([nan]),
 625: array([141.]),
 626: array([nan]),
 627: array([86.]),
 628: array([nan]),
 629: array([142.]),
 630: array([33.]),
 631: array([43.]),
 632: array([143.]),
 633: array([7.]),
 634: array([41.]),
 635: array([40.]),
 636: array([88.]),
 637: array([101.]),
 638: array([20.]),
 639: array([102.]),
 640: array([144.]),
 641: array([nan]),
 642: array([136.]),
 643: array([nan]),
 644: array([21.]),
 645: array([46.]),
 646: array([96.]),
 647: array([21.]),
 648: array([145.]),
 649: array([11.]),
 650: array([nan]),
 651: array([50.]),
 652: array([13.]),
 653: array([nan]),
 654: array([82.]),
 655: array([25.]),
 656: array([nan]),
 657: array([nan]),
 658: array([146.]),
 659: array([92.]),
 660: array([58.]),
 661: array([12.]),
 662: array([63.]),
 663: array([65.]),
 664: array([82.]),
 665: array([nan]),
 666: array([nan]),
 667: array([nan]),
 668: array([nan]),
 669: array([13.]),
 670: array([54.]),
 671: array([147.]),
 672: array([nan]),
 673: array([14.]),
 674: array([75.]),
 675: array([145.]),
 676: array([4.]),
 677: array([73.]),
 678: array([82.]),
 679: array([148.]),
 680: array([nan]),
 681: array([54.]),
 682: array([61.]),
 683: array([nan]),
 684: array([nan]),
 685: array([148.]),
 686: array([7.]),
 687: array([nan]),
 688: array([82.]),
 689: array([nan]),
 690: array([65.]),
 691: array([nan]),
 692: array([nan]),
 693: array([149.]),
 694: array([29.]),
 695: array([15.]),
 696: array([nan]),
 697: array([nan]),
 698: array([48.]),
 699: array([65.]),
 700: array([47.]),
 701: array([99.]),
 702: array([nan]),
 703: array([nan]),
 704: array([126.]),
 705: array([150.]),
 706: array([5.]),
 707: array([nan]),
 708: array([nan]),
 709: array([10.]),
 710: array([2.]),
 711: array([32.]),
 712: array([151.]),
 713: array([105.]),
 714: array([nan]),
 715: array([nan]),
 716: array([45.]),
 717: array([117.]),
 718: array([nan]),
 719: array([20.]),
 720: array([46.]),
 721: array([42.]),
 722: array([28.]),
 723: array([nan]),
 724: array([125.]),
 725: array([nan]),
 726: array([6.]),
 727: array([nan]),
 728: array([110.]),
 729: array([152.]),
 730: array([20.]),
 731: array([37.]),
 732: array([57.]),
 733: array([21.]),
 734: array([4.]),
 735: array([nan]),
 736: array([153.]),
 737: array([111.]),
 738: array([22.]),
 739: array([154.]),
 740: array([nan]),
 741: array([155.]),
 742: array([nan]),
 743: array([45.]),
 744: array([63.]),
 745: array([nan]),
 746: array([156.]),
 747: array([78.]),
 748: array([nan]),
 749: array([87.]),
 750: array([135.]),
 751: array([55.]),
 752: array([nan]),
 753: array([nan]),
 754: array([78.]),
 755: array([29.]),
 756: array([nan]),
 757: array([82.]),
 758: array([37.]),
 759: array([157.]),
 760: array([nan]),
 761: array([158.]),
 762: array([159.]),
 763: array([32.]),
 764: array([2.]),
 765: array([13.]),
 766: array([73.]),
 767: array([38.]),
 768: array([nan]),
 769: array([160.]),
 770: array([nan]),
 771: array([57.]),
 772: array([123.]),
 773: array([107.]),
 774: array([nan]),
 775: array([21.]),
 776: array([77.]),
 777: array([23.]),
 778: array([nan]),
 779: array([nan]),
 780: array([nan]),
 781: array([21.]),
 782: array([nan]),
 783: array([nan]),
 784: array([161.]),
 785: array([4.]),
 786: array([71.]),
 787: array([162.]),
 788: array([82.]),
 789: array([136.]),
 790: array([122.]),
 791: array([163.]),
 792: array([82.]),
 793: array([55.]),
 794: array([nan]),
 795: array([6.]),
 796: array([164.]),
 797: array([33.]),
 798: array([nan]),
 799: array([82.]),
 800: array([47.]),
 801: array([24.]),
 802: array([nan]),
 803: array([136.]),
 804: array([nan]),
 805: array([137.]),
 806: array([nan]),
 807: array([31.]),
 808: array([nan]),
 809: array([nan]),
 810: array([123.]),
 811: array([nan]),
 812: array([nan]),
 813: array([nan]),
 814: array([nan]),
 815: array([33.]),
 816: array([53.]),
 817: array([110.]),
 818: array([nan]),
 819: array([21.]),
 820: array([165.]),
 821: array([nan]),
 822: array([5.]),
 823: array([nan]),
 824: array([63.]),
 825: array([nan]),
 826: array([nan]),
 827: array([146.]),
 828: array([166.]),
 829: array([6.]),
 830: array([63.]),
 831: array([38.]),
 832: array([nan]),
 833: array([45.]),
 834: array([88.]),
 835: array([105.]),
 836: array([nan]),
 837: array([67.]),
 838: array([nan]),
 839: array([nan]),
 840: array([97.]),
 841: array([nan]),
 842: array([156.]),
 843: array([41.]),
 844: array([8.]),
 845: array([82.]),
 846: array([13.]),
 847: array([107.]),
 848: array([106.]),
 849: array([100.]),
 850: array([nan]),
 851: array([130.]),
 852: array([73.]),
 853: array([119.]),
 854: array([70.]),
 855: array([3.]),
 856: array([25.]),
 857: array([167.]),
 858: array([20.]),
 859: array([nan]),
 860: array([nan]),
 861: array([168.]),
 862: array([84.]),
 863: array([20.]),
 864: array([nan]),
 865: array([nan]),
 866: array([165.]),
 867: array([65.]),
 868: array([nan]),
 869: array([151.]),
 870: array([nan]),
 871: array([82.]),
 872: array([21.]),
 873: array([57.]),
 874: array([nan]),
 875: array([nan]),
 876: array([nan]),
 877: array([68.]),
 878: array([135.]),
 879: array([47.]),
 880: array([59.]),
 881: array([29.]),
 882: array([108.]),
 883: array([54.]),
 884: array([169.]),
 885: array([nan]),
 886: array([nan]),
 887: array([nan]),
 888: array([104.]),
 889: array([118.]),
 890: array([35.]),
 891: array([21.]),
 892: array([nan]),
 893: array([47.]),
 894: array([31.]),
 895: array([4.]),
 896: array([82.]),
 897: array([65.]),
 898: array([170.]),
 899: array([171.]),
 900: array([172.]),
 901: array([16.]),
 902: array([14.]),
 903: array([8.]),
 904: array([nan]),
 905: array([nan]),
 906: array([nan]),
 907: array([173.]),
 908: array([102.]),
 909: array([174.]),
 910: array([nan]),
 911: array([25.]),
 912: array([131.]),
 913: array([nan]),
 914: array([4.]),
 915: array([65.]),
 916: array([175.]),
 917: array([nan]),
 918: array([165.]),
 919: array([65.]),
 920: array([4.]),
 921: array([68.]),
 922: array([47.]),
 923: array([176.]),
 924: array([nan]),
 925: array([6.]),
 926: array([62.]),
 927: array([136.]),
 928: array([nan]),
 929: array([3.]),
 930: array([120.]),
 931: array([34.]),
 932: array([129.]),
 933: array([135.]),
 934: array([nan]),
 935: array([71.]),
 936: array([177.]),
 937: array([75.]),
 938: array([178.]),
 939: array([85.]),
 940: array([nan]),
 941: array([nan]),
 942: array([nan]),
 943: array([179.]),
 944: array([4.]),
 945: array([nan]),
 946: array([95.]),
 947: array([180.]),
 948: array([76.]),
 949: array([175.]),
 950: array([nan]),
 951: array([59.]),
 952: array([nan]),
 953: array([79.]),
 954: array([nan]),
 955: array([32.]),
 956: array([nan]),
 957: array([136.]),
 958: array([nan]),
 959: array([nan]),
 960: array([nan]),
 961: array([nan]),
 962: array([181.]),
 963: array([nan]),
 964: array([104.]),
 965: array([15.]),
 966: array([78.]),
 967: array([182.]),
 968: array([87.]),
 969: array([82.]),
 970: array([2.]),
 971: array([nan]),
 972: array([90.]),
 973: array([183.]),
 974: array([177.]),
 975: array([79.]),
 976: array([92.]),
 977: array([20.]),
 978: array([4.]),
 979: array([100.]),
 980: array([184.]),
 981: array([7.]),
 982: array([140.]),
 983: array([95.]),
 984: array([90.]),
 985: array([nan]),
 986: array([nan]),
 987: array([48.]),
 988: array([nan]),
 989: array([nan]),
 990: array([41.]),
 991: array([nan]),
 992: array([nan]),
 993: array([nan]),
 994: array([57.]),
 995: array([100.]),
 996: array([88.]),
 997: array([nan]),
 998: array([185.]),
 999: array([162.]),
 ...}

In [45]:
cit

{0: array([], dtype=float64),
 1: array([1.]),
 2: array([2.]),
 3: array([1.]),
 4: array([3.]),
 5: array([3.]),
 6: array([4.]),
 7: array([5.]),
 8: array([nan]),
 9: array([1.]),
 10: array([3.]),
 11: array([nan]),
 12: array([6.]),
 13: array([2.]),
 14: array([nan]),
 15: array([1.]),
 16: array([7.]),
 17: array([8.]),
 18: array([3.]),
 19: array([4.]),
 20: array([9.]),
 21: array([10.]),
 22: array([3.]),
 23: array([3.]),
 24: array([3.]),
 25: array([nan]),
 26: array([11.]),
 27: array([12.]),
 28: array([1.]),
 29: array([nan]),
 30: array([12.]),
 31: array([3.]),
 32: array([13.]),
 33: array([3.]),
 34: array([3.]),
 35: array([3.]),
 36: array([14.]),
 37: array([5.]),
 38: array([4.]),
 39: array([7.]),
 40: array([nan]),
 41: array([15.]),
 42: array([3.]),
 43: array([16.]),
 44: array([3.]),
 45: array([1.]),
 46: array([2.]),
 47: array([nan]),
 48: array([3.]),
 49: array([1.]),
 50: array([3.]),
 51: array([17.]),
 52: array([1.]),
 53: array([18.]),
 54: array([1.]),
 55: array([4.]),
 56: array([19.]),
 57: array([6.]),
 58: array([20.]),
 59: array([3.]),
 60: array([4.]),
 61: array([nan]),
 62: array([3.]),
 63: array([3.]),
 64: array([nan]),
 65: array([12.]),
 66: array([21.]),
 67: array([1.]),
 68: array([1.]),
 69: array([15.]),
 70: array([22.]),
 71: array([23.]),
 72: array([3.]),
 73: array([3.]),
 74: array([nan]),
 75: array([nan]),
 76: array([4.]),
 77: array([3.]),
 78: array([3.]),
 79: array([21.]),
 80: array([3.]),
 81: array([2.]),
 82: array([24.]),
 83: array([12.]),
 84: array([12.]),
 85: array([21.]),
 86: array([3.]),
 87: array([4.]),
 88: array([3.]),
 89: array([7.]),
 90: array([nan]),
 91: array([7.]),
 92: array([25.]),
 93: array([1.]),
 94: array([3.]),
 95: array([3.]),
 96: array([nan]),
 97: array([4.]),
 98: array([5.]),
 99: array([26.]),
 100: array([nan]),
 101: array([27.]),
 102: array([3.]),
 103: array([28.]),
 104: array([29.]),
 105: array([12.]),
 106: array([1.]),
 107: array([nan]),
 108: array([nan]),
 109: array([30.]),
 110: array([31.]),
 111: array([14.]),
 112: array([2.]),
 113: array([3.]),
 114: array([1.]),
 115: array([10.]),
 116: array([4.]),
 117: array([nan]),
 118: array([12.]),
 119: array([1.]),
 120: array([4.]),
 121: array([nan]),
 122: array([18.]),
 123: array([nan]),
 124: array([21.]),
 125: array([25.]),
 126: array([14.]),
 127: array([32.]),
 128: array([2.]),
 129: array([3.]),
 130: array([33.]),
 131: array([4.]),
 132: array([3.]),
 133: array([12.]),
 134: array([34.]),
 135: array([3.]),
 136: array([3.]),
 137: array([3.]),
 138: array([nan]),
 139: array([35.]),
 140: array([1.]),
 141: array([33.]),
 142: array([29.]),
 143: array([3.]),
 144: array([nan]),
 145: array([nan]),
 146: array([5.]),
 147: array([3.]),
 148: array([25.]),
 149: array([3.]),
 150: array([3.]),
 151: array([nan]),
 152: array([3.]),
 153: array([1.]),
 154: array([27.]),
 155: array([36.]),
 156: array([3.]),
 157: array([nan]),
 158: array([3.]),
 159: array([19.]),
 160: array([37.]),
 161: array([nan]),
 162: array([3.]),
 163: array([1.]),
 164: array([nan]),
 165: array([12.]),
 166: array([14.]),
 167: array([38.]),
 168: array([13.]),
 169: array([3.]),
 170: array([7.]),
 171: array([2.]),
 172: array([7.]),
 173: array([3.]),
 174: array([30.]),
 175: array([36.]),
 176: array([3.]),
 177: array([39.]),
 178: array([4.]),
 179: array([1.]),
 180: array([40.]),
 181: array([nan]),
 182: array([3.]),
 183: array([3.]),
 184: array([nan]),
 185: array([12.]),
 186: array([3.]),
 187: array([4.]),
 188: array([nan]),
 189: array([nan]),
 190: array([12.]),
 191: array([7.]),
 192: array([4.]),
 193: array([22.]),
 194: array([27.]),
 195: array([1.]),
 196: array([nan]),
 197: array([3.]),
 198: array([29.]),
 199: array([nan]),
 200: array([nan]),
 201: array([3.]),
 202: array([3.]),
 203: array([3.]),
 204: array([4.]),
 205: array([nan]),
 206: array([nan]),
 207: array([4.]),
 208: array([41.]),
 209: array([17.]),
 210: array([3.]),
 211: array([7.]),
 212: array([3.]),
 213: array([1.]),
 214: array([3.]),
 215: array([42.]),
 216: array([13.]),
 217: array([43.]),
 218: array([nan]),
 219: array([21.]),
 220: array([1.]),
 221: array([3.]),
 222: array([4.]),
 223: array([35.]),
 224: array([21.]),
 225: array([nan]),
 226: array([3.]),
 227: array([nan]),
 228: array([3.]),
 229: array([nan]),
 230: array([nan]),
 231: array([1.]),
 232: array([44.]),
 233: array([45.]),
 234: array([3.]),
 235: array([7.]),
 236: array([5.]),
 237: array([nan]),
 238: array([12.]),
 239: array([nan]),
 240: array([5.]),
 241: array([nan]),
 242: array([nan]),
 243: array([21.]),
 244: array([43.]),
 245: array([3.]),
 246: array([46.]),
 247: array([1.]),
 248: array([3.]),
 249: array([7.]),
 250: array([3.]),
 251: array([5.]),
 252: array([1.]),
 253: array([1.]),
 254: array([nan]),
 255: array([3.]),
 256: array([14.]),
 257: array([3.]),
 258: array([6.]),
 259: array([1.]),
 260: array([41.]),
 261: array([3.]),
 262: array([2.]),
 263: array([3.]),
 264: array([21.]),
 265: array([nan]),
 266: array([32.]),
 267: array([3.]),
 268: array([nan]),
 269: array([3.]),
 270: array([41.]),
 271: array([12.]),
 272: array([nan]),
 273: array([3.]),
 274: array([nan]),
 275: array([7.]),
 276: array([47.]),
 277: array([4.]),
 278: array([3.]),
 279: array([1.]),
 280: array([nan]),
 281: array([27.]),
 282: array([nan]),
 283: array([28.]),
 284: array([nan]),
 285: array([nan]),
 286: array([3.]),
 287: array([12.]),
 288: array([48.]),
 289: array([12.]),
 290: array([42.]),
 291: array([5.]),
 292: array([3.]),
 293: array([21.]),
 294: array([49.]),
 295: array([1.]),
 296: array([nan]),
 297: array([21.]),
 298: array([nan]),
 299: array([1.]),
 300: array([4.]),
 301: array([2.]),
 302: array([4.]),
 303: array([1.]),
 304: array([22.]),
 305: array([16.]),
 306: array([18.]),
 307: array([5.]),
 308: array([5.]),
 309: array([5.]),
 310: array([4.]),
 311: array([1.]),
 312: array([nan]),
 313: array([3.]),
 314: array([4.]),
 315: array([12.]),
 316: array([nan]),
 317: array([3.]),
 318: array([21.]),
 319: array([42.]),
 320: array([4.]),
 321: array([1.]),
 322: array([14.]),
 323: array([5.]),
 324: array([4.]),
 325: array([nan]),
 326: array([1.]),
 327: array([4.]),
 328: array([21.]),
 329: array([33.]),
 330: array([21.]),
 331: array([14.]),
 332: array([2.]),
 333: array([1.]),
 334: array([50.]),
 335: array([18.]),
 336: array([35.]),
 337: array([3.]),
 338: array([25.]),
 339: array([21.]),
 340: array([7.]),
 341: array([nan]),
 342: array([12.]),
 343: array([1.]),
 344: array([15.]),
 345: array([nan]),
 346: array([3.]),
 347: array([nan]),
 348: array([29.]),
 349: array([21.]),
 350: array([nan]),
 351: array([18.]),
 352: array([nan]),
 353: array([1.]),
 354: array([1.]),
 355: array([14.]),
 356: array([3.]),
 357: array([41.]),
 358: array([4.]),
 359: array([3.]),
 360: array([3.]),
 361: array([4.]),
 362: array([5.]),
 363: array([3.]),
 364: array([1.]),
 365: array([4.]),
 366: array([3.]),
 367: array([nan]),
 368: array([3.]),
 369: array([nan]),
 370: array([nan]),
 371: array([51.]),
 372: array([47.]),
 373: array([nan]),
 374: array([nan]),
 375: array([3.]),
 376: array([3.]),
 377: array([3.]),
 378: array([nan]),
 379: array([3.]),
 380: array([4.]),
 381: array([nan]),
 382: array([14.]),
 383: array([3.]),
 384: array([3.]),
 385: array([3.]),
 386: array([4.]),
 387: array([nan]),
 388: array([3.]),
 389: array([nan]),
 390: array([nan]),
 391: array([5.]),
 392: array([4.]),
 393: array([2.]),
 394: array([nan]),
 395: array([nan]),
 396: array([nan]),
 397: array([5.]),
 398: array([3.]),
 399: array([1.]),
 400: array([nan]),
 401: array([nan]),
 402: array([3.]),
 403: array([14.]),
 404: array([3.]),
 405: array([4.]),
 406: array([37.]),
 407: array([52.]),
 408: array([3.]),
 409: array([nan]),
 410: array([24.]),
 411: array([46.]),
 412: array([53.]),
 413: array([4.]),
 414: array([4.]),
 415: array([nan]),
 416: array([nan]),
 417: array([41.]),
 418: array([14.]),
 419: array([nan]),
 420: array([3.]),
 421: array([nan]),
 422: array([3.]),
 423: array([41.]),
 424: array([2.]),
 425: array([nan]),
 426: array([21.]),
 427: array([3.]),
 428: array([nan]),
 429: array([2.]),
 430: array([7.]),
 431: array([3.]),
 432: array([nan]),
 433: array([3.]),
 434: array([3.]),
 435: array([3.]),
 436: array([4.]),
 437: array([12.]),
 438: array([2.]),
 439: array([14.]),
 440: array([2.]),
 441: array([5.]),
 442: array([4.]),
 443: array([1.]),
 444: array([1.]),
 445: array([3.]),
 446: array([nan]),
 447: array([14.]),
 448: array([7.]),
 449: array([14.]),
 450: array([1.]),
 451: array([nan]),
 452: array([21.]),
 453: array([54.]),
 454: array([37.]),
 455: array([3.]),
 456: array([7.]),
 457: array([1.]),
 458: array([4.]),
 459: array([3.]),
 460: array([6.]),
 461: array([3.]),
 462: array([3.]),
 463: array([12.]),
 464: array([1.]),
 465: array([3.]),
 466: array([5.]),
 467: array([1.]),
 468: array([nan]),
 469: array([nan]),
 470: array([55.]),
 471: array([nan]),
 472: array([nan]),
 473: array([22.]),
 474: array([4.]),
 475: array([nan]),
 476: array([nan]),
 477: array([3.]),
 478: array([3.]),
 479: array([nan]),
 480: array([nan]),
 481: array([4.]),
 482: array([56.]),
 483: array([1.]),
 484: array([25.]),
 485: array([8.]),
 486: array([3.]),
 487: array([nan]),
 488: array([3.]),
 489: array([3.]),
 490: array([nan]),
 491: array([nan]),
 492: array([4.]),
 493: array([nan]),
 494: array([nan]),
 495: array([nan]),
 496: array([nan]),
 497: array([4.]),
 498: array([2.]),
 499: array([3.]),
 500: array([57.]),
 501: array([4.]),
 502: array([nan]),
 503: array([4.]),
 504: array([3.]),
 505: array([41.]),
 506: array([4.]),
 507: array([nan]),
 508: array([36.]),
 509: array([nan]),
 510: array([3.]),
 511: array([nan]),
 512: array([nan]),
 513: array([4.]),
 514: array([nan]),
 515: array([1.]),
 516: array([36.]),
 517: array([4.]),
 518: array([3.]),
 519: array([35.]),
 520: array([3.]),
 521: array([nan]),
 522: array([5.]),
 523: array([14.]),
 524: array([nan]),
 525: array([3.]),
 526: array([3.]),
 527: array([55.]),
 528: array([58.]),
 529: array([nan]),
 530: array([nan]),
 531: array([nan]),
 532: array([1.]),
 533: array([41.]),
 534: array([1.]),
 535: array([3.]),
 536: array([nan]),
 537: array([10.]),
 538: array([nan]),
 539: array([nan]),
 540: array([4.]),
 541: array([14.]),
 542: array([41.]),
 543: array([nan]),
 544: array([55.]),
 545: array([9.]),
 546: array([nan]),
 547: array([3.]),
 548: array([3.]),
 549: array([25.]),
 550: array([6.]),
 551: array([7.]),
 552: array([12.]),
 553: array([nan]),
 554: array([nan]),
 555: array([4.]),
 556: array([nan]),
 557: array([nan]),
 558: array([25.]),
 559: array([nan]),
 560: array([7.]),
 561: array([26.]),
 562: array([44.]),
 563: array([nan]),
 564: array([nan]),
 565: array([nan]),
 566: array([nan]),
 567: array([3.]),
 568: array([43.]),
 569: array([6.]),
 570: array([nan]),
 571: array([nan]),
 572: array([22.]),
 573: array([3.]),
 574: array([nan]),
 575: array([41.]),
 576: array([41.]),
 577: array([5.]),
 578: array([nan]),
 579: array([33.]),
 580: array([32.]),
 581: array([3.]),
 582: array([41.]),
 583: array([3.]),
 584: array([12.]),
 585: array([1.]),
 586: array([1.]),
 587: array([3.]),
 588: array([33.]),
 589: array([3.]),
 590: array([nan]),
 591: array([35.]),
 592: array([nan]),
 593: array([nan]),
 594: array([nan]),
 595: array([1.]),
 596: array([1.]),
 597: array([4.]),
 598: array([nan]),
 599: array([nan]),
 600: array([27.]),
 601: array([13.]),
 602: array([14.]),
 603: array([nan]),
 604: array([nan]),
 605: array([59.]),
 606: array([33.]),
 607: array([3.]),
 608: array([3.]),
 609: array([2.]),
 610: array([21.]),
 611: array([3.]),
 612: array([12.]),
 613: array([3.]),
 614: array([nan]),
 615: array([nan]),
 616: array([3.]),
 617: array([nan]),
 618: array([55.]),
 619: array([5.]),
 620: array([5.]),
 621: array([33.]),
 622: array([nan]),
 623: array([nan]),
 624: array([nan]),
 625: array([5.]),
 626: array([nan]),
 627: array([1.]),
 628: array([51.]),
 629: array([nan]),
 630: array([1.]),
 631: array([14.]),
 632: array([2.]),
 633: array([nan]),
 634: array([nan]),
 635: array([23.]),
 636: array([47.]),
 637: array([4.]),
 638: array([3.]),
 639: array([15.]),
 640: array([nan]),
 641: array([nan]),
 642: array([1.]),
 643: array([4.]),
 644: array([3.]),
 645: array([21.]),
 646: array([5.]),
 647: array([3.]),
 648: array([nan]),
 649: array([7.]),
 650: array([nan]),
 651: array([4.]),
 652: array([4.]),
 653: array([28.]),
 654: array([43.]),
 655: array([3.]),
 656: array([nan]),
 657: array([nan]),
 658: array([4.]),
 659: array([58.]),
 660: array([3.]),
 661: array([60.]),
 662: array([3.]),
 663: array([3.]),
 664: array([43.]),
 665: array([nan]),
 666: array([nan]),
 667: array([nan]),
 668: array([53.]),
 669: array([4.]),
 670: array([nan]),
 671: array([nan]),
 672: array([nan]),
 673: array([3.]),
 674: array([4.]),
 675: array([nan]),
 676: array([3.]),
 677: array([2.]),
 678: array([43.]),
 679: array([3.]),
 680: array([61.]),
 681: array([nan]),
 682: array([32.]),
 683: array([nan]),
 684: array([nan]),
 685: array([3.]),
 686: array([nan]),
 687: array([51.]),
 688: array([43.]),
 689: array([nan]),
 690: array([3.]),
 691: array([nan]),
 692: array([nan]),
 693: array([nan]),
 694: array([1.]),
 695: array([3.]),
 696: array([nan]),
 697: array([nan]),
 698: array([35.]),
 699: array([3.]),
 700: array([3.]),
 701: array([42.]),
 702: array([nan]),
 703: array([41.]),
 704: array([36.]),
 705: array([nan]),
 706: array([3.]),
 707: array([nan]),
 708: array([nan]),
 709: array([6.]),
 710: array([2.]),
 711: array([18.]),
 712: array([27.]),
 713: array([7.]),
 714: array([41.]),
 715: array([4.]),
 716: array([12.]),
 717: array([nan]),
 718: array([nan]),
 719: array([3.]),
 720: array([21.]),
 721: array([nan]),
 722: array([2.]),
 723: array([nan]),
 724: array([2.]),
 725: array([41.]),
 726: array([5.]),
 727: array([10.]),
 728: array([nan]),
 729: array([1.]),
 730: array([3.]),
 731: array([21.]),
 732: array([14.]),
 733: array([3.]),
 734: array([3.]),
 735: array([nan]),
 736: array([58.]),
 737: array([nan]),
 738: array([14.]),
 739: array([62.]),
 740: array([63.]),
 741: array([nan]),
 742: array([nan]),
 743: array([12.]),
 744: array([3.]),
 745: array([nan]),
 746: array([64.]),
 747: array([nan]),
 748: array([65.]),
 749: array([nan]),
 750: array([1.]),
 751: array([30.]),
 752: array([nan]),
 753: array([nan]),
 754: array([nan]),
 755: array([1.]),
 756: array([5.]),
 757: array([43.]),
 758: array([21.]),
 759: array([36.]),
 760: array([nan]),
 761: array([66.]),
 762: array([nan]),
 763: array([7.]),
 764: array([2.]),
 765: array([4.]),
 766: array([2.]),
 767: array([1.]),
 768: array([nan]),
 769: array([67.]),
 770: array([68.]),
 771: array([14.]),
 772: array([8.]),
 773: array([5.]),
 774: array([nan]),
 775: array([3.]),
 776: array([4.]),
 777: array([4.]),
 778: array([nan]),
 779: array([nan]),
 780: array([nan]),
 781: array([3.]),
 782: array([nan]),
 783: array([nan]),
 784: array([69.]),
 785: array([3.]),
 786: array([38.]),
 787: array([nan]),
 788: array([43.]),
 789: array([1.]),
 790: array([nan]),
 791: array([50.]),
 792: array([43.]),
 793: array([70.]),
 794: array([nan]),
 795: array([5.]),
 796: array([71.]),
 797: array([1.]),
 798: array([nan]),
 799: array([43.]),
 800: array([3.]),
 801: array([15.]),
 802: array([41.]),
 803: array([1.]),
 804: array([nan]),
 805: array([59.]),
 806: array([nan]),
 807: array([1.]),
 808: array([51.]),
 809: array([41.]),
 810: array([8.]),
 811: array([51.]),
 812: array([nan]),
 813: array([nan]),
 814: array([4.]),
 815: array([1.]),
 816: array([29.]),
 817: array([nan]),
 818: array([nan]),
 819: array([3.]),
 820: array([36.]),
 821: array([nan]),
 822: array([3.]),
 823: array([4.]),
 824: array([3.]),
 825: array([nan]),
 826: array([5.]),
 827: array([4.]),
 828: array([nan]),
 829: array([5.]),
 830: array([3.]),
 831: array([1.]),
 832: array([nan]),
 833: array([12.]),
 834: array([47.]),
 835: array([7.]),
 836: array([nan]),
 837: array([5.]),
 838: array([nan]),
 839: array([nan]),
 840: array([4.]),
 841: array([4.]),
 842: array([64.]),
 843: array([nan]),
 844: array([3.]),
 845: array([43.]),
 846: array([4.]),
 847: array([5.]),
 848: array([1.]),
 849: array([14.]),
 850: array([nan]),
 851: array([nan]),
 852: array([2.]),
 853: array([1.]),
 854: array([37.]),
 855: array([1.]),
 856: array([3.]),
 857: array([nan]),
 858: array([3.]),
 859: array([72.]),
 860: array([nan]),
 861: array([42.]),
 862: array([nan]),
 863: array([3.]),
 864: array([nan]),
 865: array([73.]),
 866: array([36.]),
 867: array([3.]),
 868: array([nan]),
 869: array([27.]),
 870: array([41.]),
 871: array([43.]),
 872: array([3.]),
 873: array([14.]),
 874: array([nan]),
 875: array([40.]),
 876: array([nan]),
 877: array([27.]),
 878: array([1.]),
 879: array([3.]),
 880: array([4.]),
 881: array([1.]),
 882: array([nan]),
 883: array([nan]),
 884: array([nan]),
 885: array([4.]),
 886: array([nan]),
 887: array([nan]),
 888: array([nan]),
 889: array([54.]),
 890: array([20.]),
 891: array([3.]),
 892: array([nan]),
 893: array([3.]),
 894: array([1.]),
 895: array([3.]),
 896: array([43.]),
 897: array([3.]),
 898: array([5.]),
 899: array([74.]),
 900: array([34.]),
 901: array([12.]),
 902: array([3.]),
 903: array([3.]),
 904: array([nan]),
 905: array([nan]),
 906: array([nan]),
 907: array([nan]),
 908: array([75.]),
 909: array([64.]),
 910: array([nan]),
 911: array([3.]),
 912: array([nan]),
 913: array([nan]),
 914: array([3.]),
 915: array([3.]),
 916: array([nan]),
 917: array([nan]),
 918: array([36.]),
 919: array([3.]),
 920: array([3.]),
 921: array([27.]),
 922: array([3.]),
 923: array([1.]),
 924: array([nan]),
 925: array([5.]),
 926: array([33.]),
 927: array([1.]),
 928: array([36.]),
 929: array([1.]),
 930: array([55.]),
 931: array([50.]),
 932: array([nan]),
 933: array([1.]),
 934: array([nan]),
 935: array([38.]),
 936: array([nan]),
 937: array([4.]),
 938: array([27.]),
 939: array([46.]),
 940: array([10.]),
 941: array([nan]),
 942: array([nan]),
 943: array([nan]),
 944: array([3.]),
 945: array([nan]),
 946: array([nan]),
 947: array([76.]),
 948: array([1.]),
 949: array([nan]),
 950: array([nan]),
 951: array([4.]),
 952: array([nan]),
 953: array([4.]),
 954: array([nan]),
 955: array([7.]),
 956: array([nan]),
 957: array([1.]),
 958: array([4.]),
 959: array([nan]),
 960: array([nan]),
 961: array([nan]),
 962: array([nan]),
 963: array([nan]),
 964: array([nan]),
 965: array([3.]),
 966: array([nan]),
 967: array([77.]),
 968: array([nan]),
 969: array([43.]),
 970: array([2.]),
 971: array([nan]),
 972: array([nan]),
 973: array([46.]),
 974: array([nan]),
 975: array([4.]),
 976: array([58.]),
 977: array([3.]),
 978: array([3.]),
 979: array([14.]),
 980: array([nan]),
 981: array([nan]),
 982: array([nan]),
 983: array([nan]),
 984: array([nan]),
 985: array([nan]),
 986: array([78.]),
 987: array([25.]),
 988: array([nan]),
 989: array([nan]),
 990: array([nan]),
 991: array([4.]),
 992: array([nan]),
 993: array([nan]),
 994: array([14.]),
 995: array([14.]),
 996: array([47.]),
 997: array([nan]),
 998: array([nan]),
 999: array([nan]),
 ...}

In [46]:
geo

{0: array([], dtype=float64),
 1: array([1.]),
 2: array([1.]),
 3: array([1.]),
 4: array([1.]),
 5: array([1.]),
 6: array([1.]),
 7: array([2.]),
 8: array([nan]),
 9: array([1.]),
 10: array([1.]),
 11: array([nan]),
 12: array([1.]),
 13: array([1.]),
 14: array([nan]),
 15: array([1.]),
 16: array([1.]),
 17: array([3.]),
 18: array([1.]),
 19: array([1.]),
 20: array([1.]),
 21: array([1.]),
 22: array([1.]),
 23: array([1.]),
 24: array([1.]),
 25: array([nan]),
 26: array([1.]),
 27: array([1.]),
 28: array([1.]),
 29: array([nan]),
 30: array([1.]),
 31: array([1.]),
 32: array([1.]),
 33: array([1.]),
 34: array([1.]),
 35: array([1.]),
 36: array([1.]),
 37: array([2.]),
 38: array([1.]),
 39: array([1.]),
 40: array([nan]),
 41: array([3.]),
 42: array([1.]),
 43: array([3.]),
 44: array([1.]),
 45: array([1.]),
 46: array([1.]),
 47: array([nan]),
 48: array([1.]),
 49: array([1.]),
 50: array([1.]),
 51: array([4.]),
 52: array([1.]),
 53: array([1.]),
 54: array([1.]),
 55: array([1.]),
 56: array([1.]),
 57: array([1.]),
 58: array([1.]),
 59: array([1.]),
 60: array([1.]),
 61: array([nan]),
 62: array([1.]),
 63: array([1.]),
 64: array([1.]),
 65: array([1.]),
 66: array([1.]),
 67: array([1.]),
 68: array([1.]),
 69: array([3.]),
 70: array([3.]),
 71: array([1.]),
 72: array([1.]),
 73: array([1.]),
 74: array([nan]),
 75: array([nan]),
 76: array([1.]),
 77: array([1.]),
 78: array([1.]),
 79: array([1.]),
 80: array([1.]),
 81: array([1.]),
 82: array([1.]),
 83: array([1.]),
 84: array([1.]),
 85: array([1.]),
 86: array([1.]),
 87: array([1.]),
 88: array([1.]),
 89: array([1.]),
 90: array([nan]),
 91: array([1.]),
 92: array([1.]),
 93: array([1.]),
 94: array([1.]),
 95: array([1.]),
 96: array([nan]),
 97: array([1.]),
 98: array([2.]),
 99: array([1.]),
 100: array([nan]),
 101: array([1.]),
 102: array([1.]),
 103: array([1.]),
 104: array([1.]),
 105: array([1.]),
 106: array([1.]),
 107: array([1.]),
 108: array([nan]),
 109: array([1.]),
 110: array([3.]),
 111: array([1.]),
 112: array([1.]),
 113: array([1.]),
 114: array([1.]),
 115: array([1.]),
 116: array([5.]),
 117: array([nan]),
 118: array([1.]),
 119: array([1.]),
 120: array([5.]),
 121: array([nan]),
 122: array([1.]),
 123: array([nan]),
 124: array([1.]),
 125: array([1.]),
 126: array([1.]),
 127: array([3.]),
 128: array([1.]),
 129: array([1.]),
 130: array([1.]),
 131: array([1.]),
 132: array([1.]),
 133: array([1.]),
 134: array([1.]),
 135: array([1.]),
 136: array([1.]),
 137: array([1.]),
 138: array([nan]),
 139: array([1.]),
 140: array([1.]),
 141: array([1.]),
 142: array([1.]),
 143: array([1.]),
 144: array([nan]),
 145: array([nan]),
 146: array([2.]),
 147: array([1.]),
 148: array([1.]),
 149: array([1.]),
 150: array([1.]),
 151: array([nan]),
 152: array([1.]),
 153: array([1.]),
 154: array([nan]),
 155: array([1.]),
 156: array([1.]),
 157: array([nan]),
 158: array([1.]),
 159: array([1.]),
 160: array([3.]),
 161: array([nan]),
 162: array([1.]),
 163: array([1.]),
 164: array([nan]),
 165: array([1.]),
 166: array([1.]),
 167: array([1.]),
 168: array([1.]),
 169: array([1.]),
 170: array([1.]),
 171: array([1.]),
 172: array([1.]),
 173: array([1.]),
 174: array([1.]),
 175: array([1.]),
 176: array([1.]),
 177: array([1.]),
 178: array([5.]),
 179: array([1.]),
 180: array([1.]),
 181: array([nan]),
 182: array([1.]),
 183: array([1.]),
 184: array([nan]),
 185: array([1.]),
 186: array([1.]),
 187: array([1.]),
 188: array([1.]),
 189: array([nan]),
 190: array([1.]),
 191: array([1.]),
 192: array([1.]),
 193: array([3.]),
 194: array([nan]),
 195: array([1.]),
 196: array([nan]),
 197: array([1.]),
 198: array([1.]),
 199: array([nan]),
 200: array([nan]),
 201: array([1.]),
 202: array([1.]),
 203: array([1.]),
 204: array([1.]),
 205: array([nan]),
 206: array([1.]),
 207: array([1.]),
 208: array([1.]),
 209: array([4.]),
 210: array([1.]),
 211: array([1.]),
 212: array([1.]),
 213: array([1.]),
 214: array([1.]),
 215: array([1.]),
 216: array([1.]),
 217: array([1.]),
 218: array([nan]),
 219: array([1.]),
 220: array([1.]),
 221: array([1.]),
 222: array([1.]),
 223: array([1.]),
 224: array([1.]),
 225: array([nan]),
 226: array([1.]),
 227: array([nan]),
 228: array([1.]),
 229: array([nan]),
 230: array([nan]),
 231: array([1.]),
 232: array([6.]),
 233: array([1.]),
 234: array([1.]),
 235: array([1.]),
 236: array([2.]),
 237: array([nan]),
 238: array([1.]),
 239: array([nan]),
 240: array([2.]),
 241: array([nan]),
 242: array([nan]),
 243: array([1.]),
 244: array([1.]),
 245: array([1.]),
 246: array([3.]),
 247: array([1.]),
 248: array([1.]),
 249: array([1.]),
 250: array([1.]),
 251: array([2.]),
 252: array([1.]),
 253: array([1.]),
 254: array([nan]),
 255: array([1.]),
 256: array([1.]),
 257: array([1.]),
 258: array([1.]),
 259: array([1.]),
 260: array([1.]),
 261: array([1.]),
 262: array([1.]),
 263: array([1.]),
 264: array([1.]),
 265: array([nan]),
 266: array([3.]),
 267: array([1.]),
 268: array([nan]),
 269: array([1.]),
 270: array([1.]),
 271: array([1.]),
 272: array([nan]),
 273: array([1.]),
 274: array([nan]),
 275: array([1.]),
 276: array([1.]),
 277: array([1.]),
 278: array([1.]),
 279: array([1.]),
 280: array([nan]),
 281: array([nan]),
 282: array([nan]),
 283: array([1.]),
 284: array([nan]),
 285: array([nan]),
 286: array([1.]),
 287: array([1.]),
 288: array([1.]),
 289: array([1.]),
 290: array([1.]),
 291: array([2.]),
 292: array([1.]),
 293: array([1.]),
 294: array([3.]),
 295: array([1.]),
 296: array([nan]),
 297: array([1.]),
 298: array([nan]),
 299: array([1.]),
 300: array([1.]),
 301: array([1.]),
 302: array([1.]),
 303: array([1.]),
 304: array([3.]),
 305: array([3.]),
 306: array([1.]),
 307: array([2.]),
 308: array([1.]),
 309: array([2.]),
 310: array([1.]),
 311: array([1.]),
 312: array([1.]),
 313: array([1.]),
 314: array([5.]),
 315: array([1.]),
 316: array([nan]),
 317: array([1.]),
 318: array([1.]),
 319: array([1.]),
 320: array([1.]),
 321: array([1.]),
 322: array([1.]),
 323: array([2.]),
 324: array([6.]),
 325: array([nan]),
 326: array([1.]),
 327: array([1.]),
 328: array([1.]),
 329: array([1.]),
 330: array([1.]),
 331: array([1.]),
 332: array([1.]),
 333: array([1.]),
 334: array([1.]),
 335: array([1.]),
 336: array([1.]),
 337: array([1.]),
 338: array([1.]),
 339: array([1.]),
 340: array([1.]),
 341: array([nan]),
 342: array([1.]),
 343: array([1.]),
 344: array([3.]),
 345: array([1.]),
 346: array([1.]),
 347: array([nan]),
 348: array([1.]),
 349: array([1.]),
 350: array([nan]),
 351: array([1.]),
 352: array([nan]),
 353: array([1.]),
 354: array([1.]),
 355: array([1.]),
 356: array([1.]),
 357: array([1.]),
 358: array([1.]),
 359: array([1.]),
 360: array([1.]),
 361: array([1.]),
 362: array([2.]),
 363: array([1.]),
 364: array([1.]),
 365: array([1.]),
 366: array([1.]),
 367: array([nan]),
 368: array([1.]),
 369: array([nan]),
 370: array([nan]),
 371: array([1.]),
 372: array([1.]),
 373: array([nan]),
 374: array([nan]),
 375: array([1.]),
 376: array([1.]),
 377: array([1.]),
 378: array([nan]),
 379: array([1.]),
 380: array([5.]),
 381: array([nan]),
 382: array([1.]),
 383: array([1.]),
 384: array([1.]),
 385: array([1.]),
 386: array([1.]),
 387: array([nan]),
 388: array([1.]),
 389: array([nan]),
 390: array([nan]),
 391: array([2.]),
 392: array([1.]),
 393: array([1.]),
 394: array([nan]),
 395: array([1.]),
 396: array([nan]),
 397: array([2.]),
 398: array([1.]),
 399: array([1.]),
 400: array([1.]),
 401: array([nan]),
 402: array([1.]),
 403: array([1.]),
 404: array([1.]),
 405: array([1.]),
 406: array([3.]),
 407: array([3.]),
 408: array([1.]),
 409: array([1.]),
 410: array([1.]),
 411: array([3.]),
 412: array([1.]),
 413: array([1.]),
 414: array([1.]),
 415: array([nan]),
 416: array([1.]),
 417: array([1.]),
 418: array([1.]),
 419: array([nan]),
 420: array([1.]),
 421: array([nan]),
 422: array([1.]),
 423: array([1.]),
 424: array([1.]),
 425: array([nan]),
 426: array([1.]),
 427: array([1.]),
 428: array([1.]),
 429: array([1.]),
 430: array([1.]),
 431: array([1.]),
 432: array([nan]),
 433: array([1.]),
 434: array([1.]),
 435: array([1.]),
 436: array([1.]),
 437: array([1.]),
 438: array([1.]),
 439: array([1.]),
 440: array([1.]),
 441: array([2.]),
 442: array([1.]),
 443: array([1.]),
 444: array([1.]),
 445: array([1.]),
 446: array([nan]),
 447: array([1.]),
 448: array([1.]),
 449: array([1.]),
 450: array([1.]),
 451: array([nan]),
 452: array([1.]),
 453: array([1.]),
 454: array([3.]),
 455: array([1.]),
 456: array([1.]),
 457: array([1.]),
 458: array([1.]),
 459: array([1.]),
 460: array([1.]),
 461: array([1.]),
 462: array([1.]),
 463: array([1.]),
 464: array([1.]),
 465: array([1.]),
 466: array([6.]),
 467: array([1.]),
 468: array([nan]),
 469: array([nan]),
 470: array([1.]),
 471: array([nan]),
 472: array([nan]),
 473: array([3.]),
 474: array([1.]),
 475: array([1.]),
 476: array([nan]),
 477: array([1.]),
 478: array([1.]),
 479: array([1.]),
 480: array([nan]),
 481: array([1.]),
 482: array([2.]),
 483: array([1.]),
 484: array([1.]),
 485: array([3.]),
 486: array([1.]),
 487: array([nan]),
 488: array([1.]),
 489: array([1.]),
 490: array([nan]),
 491: array([nan]),
 492: array([1.]),
 493: array([nan]),
 494: array([nan]),
 495: array([nan]),
 496: array([nan]),
 497: array([1.]),
 498: array([1.]),
 499: array([1.]),
 500: array([1.]),
 501: array([5.]),
 502: array([nan]),
 503: array([1.]),
 504: array([1.]),
 505: array([1.]),
 506: array([1.]),
 507: array([nan]),
 508: array([1.]),
 509: array([nan]),
 510: array([1.]),
 511: array([nan]),
 512: array([nan]),
 513: array([1.]),
 514: array([nan]),
 515: array([1.]),
 516: array([1.]),
 517: array([1.]),
 518: array([1.]),
 519: array([1.]),
 520: array([1.]),
 521: array([nan]),
 522: array([2.]),
 523: array([1.]),
 524: array([nan]),
 525: array([1.]),
 526: array([1.]),
 527: array([1.]),
 528: array([1.]),
 529: array([nan]),
 530: array([nan]),
 531: array([nan]),
 532: array([1.]),
 533: array([1.]),
 534: array([1.]),
 535: array([1.]),
 536: array([nan]),
 537: array([1.]),
 538: array([nan]),
 539: array([nan]),
 540: array([1.]),
 541: array([1.]),
 542: array([1.]),
 543: array([nan]),
 544: array([1.]),
 545: array([1.]),
 546: array([nan]),
 547: array([1.]),
 548: array([1.]),
 549: array([1.]),
 550: array([1.]),
 551: array([1.]),
 552: array([1.]),
 553: array([nan]),
 554: array([nan]),
 555: array([1.]),
 556: array([nan]),
 557: array([nan]),
 558: array([1.]),
 559: array([1.]),
 560: array([1.]),
 561: array([1.]),
 562: array([6.]),
 563: array([nan]),
 564: array([nan]),
 565: array([nan]),
 566: array([1.]),
 567: array([1.]),
 568: array([1.]),
 569: array([1.]),
 570: array([nan]),
 571: array([nan]),
 572: array([3.]),
 573: array([1.]),
 574: array([nan]),
 575: array([1.]),
 576: array([1.]),
 577: array([2.]),
 578: array([1.]),
 579: array([1.]),
 580: array([3.]),
 581: array([1.]),
 582: array([1.]),
 583: array([1.]),
 584: array([1.]),
 585: array([1.]),
 586: array([1.]),
 587: array([1.]),
 588: array([1.]),
 589: array([1.]),
 590: array([1.]),
 591: array([1.]),
 592: array([nan]),
 593: array([nan]),
 594: array([nan]),
 595: array([1.]),
 596: array([1.]),
 597: array([1.]),
 598: array([nan]),
 599: array([nan]),
 600: array([nan]),
 601: array([1.]),
 602: array([1.]),
 603: array([nan]),
 604: array([nan]),
 605: array([1.]),
 606: array([1.]),
 607: array([1.]),
 608: array([1.]),
 609: array([1.]),
 610: array([1.]),
 611: array([1.]),
 612: array([1.]),
 613: array([1.]),
 614: array([nan]),
 615: array([nan]),
 616: array([1.]),
 617: array([nan]),
 618: array([1.]),
 619: array([3.]),
 620: array([2.]),
 621: array([1.]),
 622: array([nan]),
 623: array([nan]),
 624: array([nan]),
 625: array([6.]),
 626: array([nan]),
 627: array([1.]),
 628: array([1.]),
 629: array([1.]),
 630: array([1.]),
 631: array([1.]),
 632: array([1.]),
 633: array([nan]),
 634: array([nan]),
 635: array([1.]),
 636: array([1.]),
 637: array([6.]),
 638: array([1.]),
 639: array([3.]),
 640: array([nan]),
 641: array([nan]),
 642: array([1.]),
 643: array([1.]),
 644: array([1.]),
 645: array([1.]),
 646: array([1.]),
 647: array([1.]),
 648: array([nan]),
 649: array([1.]),
 650: array([nan]),
 651: array([1.]),
 652: array([1.]),
 653: array([1.]),
 654: array([1.]),
 655: array([1.]),
 656: array([nan]),
 657: array([nan]),
 658: array([1.]),
 659: array([1.]),
 660: array([1.]),
 661: array([6.]),
 662: array([1.]),
 663: array([1.]),
 664: array([1.]),
 665: array([nan]),
 666: array([nan]),
 667: array([nan]),
 668: array([nan]),
 669: array([1.]),
 670: array([1.]),
 671: array([nan]),
 672: array([nan]),
 673: array([1.]),
 674: array([1.]),
 675: array([nan]),
 676: array([1.]),
 677: array([1.]),
 678: array([1.]),
 679: array([1.]),
 680: array([nan]),
 681: array([1.]),
 682: array([3.]),
 683: array([nan]),
 684: array([nan]),
 685: array([1.]),
 686: array([nan]),
 687: array([1.]),
 688: array([1.]),
 689: array([1.]),
 690: array([1.]),
 691: array([nan]),
 692: array([nan]),
 693: array([nan]),
 694: array([1.]),
 695: array([1.]),
 696: array([nan]),
 697: array([nan]),
 698: array([1.]),
 699: array([1.]),
 700: array([1.]),
 701: array([1.]),
 702: array([nan]),
 703: array([1.]),
 704: array([1.]),
 705: array([nan]),
 706: array([1.]),
 707: array([nan]),
 708: array([nan]),
 709: array([1.]),
 710: array([1.]),
 711: array([1.]),
 712: array([1.]),
 713: array([1.]),
 714: array([1.]),
 715: array([1.]),
 716: array([1.]),
 717: array([nan]),
 718: array([nan]),
 719: array([1.]),
 720: array([1.]),
 721: array([nan]),
 722: array([1.]),
 723: array([nan]),
 724: array([1.]),
 725: array([1.]),
 726: array([2.]),
 727: array([1.]),
 728: array([nan]),
 729: array([1.]),
 730: array([1.]),
 731: array([1.]),
 732: array([1.]),
 733: array([1.]),
 734: array([1.]),
 735: array([nan]),
 736: array([1.]),
 737: array([nan]),
 738: array([1.]),
 739: array([1.]),
 740: array([1.]),
 741: array([nan]),
 742: array([nan]),
 743: array([1.]),
 744: array([1.]),
 745: array([nan]),
 746: array([1.]),
 747: array([1.]),
 748: array([1.]),
 749: array([nan]),
 750: array([1.]),
 751: array([1.]),
 752: array([nan]),
 753: array([nan]),
 754: array([1.]),
 755: array([1.]),
 756: array([6.]),
 757: array([1.]),
 758: array([1.]),
 759: array([1.]),
 760: array([nan]),
 761: array([6.]),
 762: array([nan]),
 763: array([1.]),
 764: array([1.]),
 765: array([1.]),
 766: array([1.]),
 767: array([1.]),
 768: array([nan]),
 769: array([1.]),
 770: array([1.]),
 771: array([1.]),
 772: array([3.]),
 773: array([2.]),
 774: array([nan]),
 775: array([1.]),
 776: array([1.]),
 777: array([1.]),
 778: array([nan]),
 779: array([nan]),
 780: array([nan]),
 781: array([1.]),
 782: array([nan]),
 783: array([nan]),
 784: array([1.]),
 785: array([1.]),
 786: array([1.]),
 787: array([nan]),
 788: array([1.]),
 789: array([1.]),
 790: array([nan]),
 791: array([1.]),
 792: array([1.]),
 793: array([1.]),
 794: array([nan]),
 795: array([2.]),
 796: array([3.]),
 797: array([1.]),
 798: array([nan]),
 799: array([1.]),
 800: array([1.]),
 801: array([3.]),
 802: array([1.]),
 803: array([1.]),
 804: array([nan]),
 805: array([1.]),
 806: array([nan]),
 807: array([1.]),
 808: array([1.]),
 809: array([1.]),
 810: array([3.]),
 811: array([1.]),
 812: array([nan]),
 813: array([nan]),
 814: array([1.]),
 815: array([1.]),
 816: array([1.]),
 817: array([nan]),
 818: array([nan]),
 819: array([1.]),
 820: array([1.]),
 821: array([nan]),
 822: array([1.]),
 823: array([1.]),
 824: array([1.]),
 825: array([1.]),
 826: array([1.]),
 827: array([1.]),
 828: array([nan]),
 829: array([2.]),
 830: array([1.]),
 831: array([1.]),
 832: array([nan]),
 833: array([1.]),
 834: array([1.]),
 835: array([1.]),
 836: array([1.]),
 837: array([2.]),
 838: array([nan]),
 839: array([nan]),
 840: array([1.]),
 841: array([1.]),
 842: array([1.]),
 843: array([nan]),
 844: array([1.]),
 845: array([1.]),
 846: array([1.]),
 847: array([2.]),
 848: array([1.]),
 849: array([1.]),
 850: array([nan]),
 851: array([nan]),
 852: array([1.]),
 853: array([1.]),
 854: array([3.]),
 855: array([1.]),
 856: array([1.]),
 857: array([nan]),
 858: array([1.]),
 859: array([1.]),
 860: array([nan]),
 861: array([1.]),
 862: array([nan]),
 863: array([1.]),
 864: array([nan]),
 865: array([1.]),
 866: array([1.]),
 867: array([1.]),
 868: array([nan]),
 869: array([1.]),
 870: array([1.]),
 871: array([1.]),
 872: array([1.]),
 873: array([1.]),
 874: array([nan]),
 875: array([1.]),
 876: array([nan]),
 877: array([nan]),
 878: array([1.]),
 879: array([1.]),
 880: array([5.]),
 881: array([1.]),
 882: array([nan]),
 883: array([1.]),
 884: array([nan]),
 885: array([1.]),
 886: array([nan]),
 887: array([nan]),
 888: array([nan]),
 889: array([1.]),
 890: array([1.]),
 891: array([1.]),
 892: array([nan]),
 893: array([1.]),
 894: array([1.]),
 895: array([1.]),
 896: array([1.]),
 897: array([1.]),
 898: array([6.]),
 899: array([6.]),
 900: array([1.]),
 901: array([1.]),
 902: array([1.]),
 903: array([1.]),
 904: array([nan]),
 905: array([nan]),
 906: array([nan]),
 907: array([nan]),
 908: array([3.]),
 909: array([1.]),
 910: array([nan]),
 911: array([1.]),
 912: array([nan]),
 913: array([nan]),
 914: array([1.]),
 915: array([1.]),
 916: array([nan]),
 917: array([nan]),
 918: array([1.]),
 919: array([1.]),
 920: array([1.]),
 921: array([nan]),
 922: array([1.]),
 923: array([1.]),
 924: array([nan]),
 925: array([2.]),
 926: array([1.]),
 927: array([1.]),
 928: array([1.]),
 929: array([1.]),
 930: array([1.]),
 931: array([1.]),
 932: array([nan]),
 933: array([1.]),
 934: array([nan]),
 935: array([1.]),
 936: array([nan]),
 937: array([1.]),
 938: array([nan]),
 939: array([3.]),
 940: array([1.]),
 941: array([nan]),
 942: array([nan]),
 943: array([nan]),
 944: array([1.]),
 945: array([nan]),
 946: array([nan]),
 947: array([1.]),
 948: array([1.]),
 949: array([nan]),
 950: array([nan]),
 951: array([5.]),
 952: array([1.]),
 953: array([1.]),
 954: array([nan]),
 955: array([1.]),
 956: array([nan]),
 957: array([1.]),
 958: array([1.]),
 959: array([nan]),
 960: array([nan]),
 961: array([nan]),
 962: array([nan]),
 963: array([nan]),
 964: array([nan]),
 965: array([1.]),
 966: array([1.]),
 967: array([1.]),
 968: array([nan]),
 969: array([1.]),
 970: array([1.]),
 971: array([nan]),
 972: array([nan]),
 973: array([3.]),
 974: array([nan]),
 975: array([1.]),
 976: array([1.]),
 977: array([1.]),
 978: array([1.]),
 979: array([1.]),
 980: array([nan]),
 981: array([nan]),
 982: array([nan]),
 983: array([nan]),
 984: array([nan]),
 985: array([nan]),
 986: array([6.]),
 987: array([1.]),
 988: array([nan]),
 989: array([nan]),
 990: array([nan]),
 991: array([1.]),
 992: array([nan]),
 993: array([nan]),
 994: array([1.]),
 995: array([1.]),
 996: array([1.]),
 997: array([nan]),
 998: array([nan]),
 999: array([nan]),
 ...}

In [47]:
veh_1=vc[vc['CURRENT_YEARLY_MILEAGE']==6]

In [48]:
veh_2=vc[vc['CURRENT_YEARLY_MILEAGE']==5]

In [49]:
veh=veh_1.append([veh_2])

In [50]:
veh

,Vehicle_ID,Sample_ID,State_Of_Health_Battery,Battery_Generation,Fleet_ID,Country,Vehicle_MRK_TYPE,CURRENT_YEARLY_MILEAGE,Mounted_Battery_Generation,Measure_R_D,Engine_Type,Geo_Area,City,Cluster,IS_PATTERN_AVAILABLE,IS_FLEET_TOF_MONITORED,IS_CHECKED_IN_VDA,Battery_Supplier
8278,11,111482560,NaN,4.0,9.0,4.0,5,6,4.0,NaN,NaN,NaN,NaN,NaN,0,1,0,4.0
8279,11,239890096,NaN,4.0,9.0,4.0,5,6,4.0,NaN,NaN,NaN,NaN,NaN,0,1,0,4.0
8280,11,239362843,NaN,4.0,9.0,4.0,5,6,4.0,NaN,NaN,NaN,NaN,NaN,0,1,0,4.0
8281,11,354794021,NaN,4.0,9.0,4.0,5,6,4.0,NaN,NaN,NaN,NaN,NaN,0,1,0,4.0
8282,11,257853555,NaN,4.0,9.0,4.0,5,6,4.0,NaN,NaN,NaN,NaN,NaN,0,1,0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
861242,3941,101261005,89.551,3.0,148.0,2.0,3,5,3.0,5.0,2.0,1.0,3.0,2.0,0,0,0,3.0
861243,3941,147175507,83.105,3.0,148.0,2.0,3,5,3.0,5.0,2.0,1.0,3.0,2.0,0,0,0,3.0
861244,3941,59369574,95.117,3.0,148.0,2.0,3,5,3.0,5.0,2.0,1.0,3.0,2.0,0,0,0,3.0
861245,3941,125392319,85.547,3.0,148.0,2.0,3,5,3.0,5.0,2.0,1.0,3.0,2.0,0,0,0,3.0
861246,3941,167670976,82.715,3.0,148.0,2.0,3,5,3.0,5.0,2.0,1.0,3.0,2.0,0,0,0,3.0

In [51]:
veh_1=vc[vc['CURRENT_YEARLY_MILEAGE']==1]

In [52]:
veh_1

,Vehicle_ID,Sample_ID,State_Of_Health_Battery,Battery_Generation,Fleet_ID,Country,Vehicle_MRK_TYPE,CURRENT_YEARLY_MILEAGE,Mounted_Battery_Generation,Measure_R_D,Engine_Type,Geo_Area,City,Cluster,IS_PATTERN_AVAILABLE,IS_FLEET_TOF_MONITORED,IS_CHECKED_IN_VDA,Battery_Supplier
0,1,262526303,NaN,1.0,1.0,1.0,1,1,1.0,1.0,1.0,1.0,1.0,1.0,0,1,0,1.0
1,1,115517796,72.00,1.0,1.0,1.0,1,1,1.0,1.0,1.0,1.0,1.0,1.0,0,1,0,1.0
2,1,251857645,NaN,1.0,1.0,1.0,1,1,1.0,1.0,1.0,1.0,1.0,1.0,0,1,0,1.0
3,1,47893312,95.50,1.0,1.0,1.0,1,1,1.0,1.0,1.0,1.0,1.0,1.0,0,1,0,1.0
4,1,96601019,76.25,1.0,1.0,1.0,1,1,1.0,1.0,1.0,1.0,1.0,1.0,0,1,0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
859790,3861,203122463,75.00,1.0,87.0,1.0,1,1,1.0,1.0,NaN,NaN,NaN,NaN,0,1,0,1.0
859791,3861,72397891,100.00,1.0,87.0,1.0,1,1,1.0,1.0,NaN,NaN,NaN,NaN,0,1,0,1.0
859792,3861,364577793,66.00,1.0,87.0,1.0,1,1,1.0,1.0,NaN,NaN,NaN,NaN,0,1,0,1.0
859793,3861,182794289,76.25,1.0,87.0,1.0,1,1,1.0,1.0,NaN,NaN,NaN,NaN,0,1,0,1.0
859794,3861,230469871,73.50,1.0,87.0,1.0,1,1,1.0,1.0,NaN,NaN,NaN,NaN,0,1,0,1.0

In [53]:
from sklearn.impute import KNNImputer

In [54]:
knn=KNNImputer(n_neighbors=2)

In [55]:
veh_1=veh_1.drop('Sample_ID',axis=1)

In [56]:
veh_1

,Vehicle_ID,State_Of_Health_Battery,Battery_Generation,Fleet_ID,Country,Vehicle_MRK_TYPE,CURRENT_YEARLY_MILEAGE,Mounted_Battery_Generation,Measure_R_D,Engine_Type,Geo_Area,City,Cluster,IS_PATTERN_AVAILABLE,IS_FLEET_TOF_MONITORED,IS_CHECKED_IN_VDA,Battery_Supplier
0,1,NaN,1.0,1.0,1.0,1,1,1.0,1.0,1.0,1.0,1.0,1.0,0,1,0,1.0
1,1,72.00,1.0,1.0,1.0,1,1,1.0,1.0,1.0,1.0,1.0,1.0,0,1,0,1.0
2,1,NaN,1.0,1.0,1.0,1,1,1.0,1.0,1.0,1.0,1.0,1.0,0,1,0,1.0
3,1,95.50,1.0,1.0,1.0,1,1,1.0,1.0,1.0,1.0,1.0,1.0,0,1,0,1.0
4,1,76.25,1.0,1.0,1.0,1,1,1.0,1.0,1.0,1.0,1.0,1.0,0,1,0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
859790,3861,75.00,1.0,87.0,1.0,1,1,1.0,1.0,NaN,NaN,NaN,NaN,0,1,0,1.0
859791,3861,100.00,1.0,87.0,1.0,1,1,1.0,1.0,NaN,NaN,NaN,NaN,0,1,0,1.0
859792,3861,66.00,1.0,87.0,1.0,1,1,1.0,1.0,NaN,NaN,NaN,NaN,0,1,0,1.0
859793,3861,76.25,1.0,87.0,1.0,1,1,1.0,1.0,NaN,NaN,NaN,NaN,0,1,0,1.0
859794,3861,73.50,1.0,87.0,1.0,1,1,1.0,1.0,NaN,NaN,NaN,NaN,0,1,0,1.0

In [33]:
X=pd.DataFrame(X)

In [29]:
veh_2=vc[vc['CURRENT_YEARLY_MILEAGE']==2]

In [30]:
veh_2=veh_2.drop('Sample_ID',axis=1)

In [31]:
X2=knn.fit_transform(veh_2)

In [34]:
X2=pd.DataFrame(X2)

In [35]:
X2.append([X])

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,2.0,47.000,1.0,2.0,1.0,2.0,2.0,1.0,2.0,1.0,1.0,2.0,1.0,0.0,0.0,0.0,1.0
1,2.0,60.250,1.0,2.0,1.0,2.0,2.0,1.0,2.0,1.0,1.0,2.0,1.0,0.0,0.0,0.0,1.0
2,2.0,53.625,1.0,2.0,1.0,2.0,2.0,1.0,2.0,1.0,1.0,2.0,1.0,0.0,0.0,0.0,1.0
3,2.0,53.625,1.0,2.0,1.0,2.0,2.0,1.0,2.0,1.0,1.0,2.0,1.0,0.0,0.0,0.0,1.0
4,2.0,53.625,1.0,2.0,1.0,2.0,2.0,1.0,2.0,1.0,1.0,2.0,1.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59862,3861.0,75.000,1.0,87.0,1.0,1.0,1.0,1.0,1.0,2.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0
59863,3861.0,100.000,1.0,87.0,1.0,1.0,1.0,1.0,1.0,2.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0
59864,3861.0,66.000,1.0,87.0,1.0,1.0,1.0,1.0,1.0,2.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0
59865,3861.0,76.250,1.0,87.0,1.0,1.0,1.0,1.0,1.0,2.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0
59866,3861.0,73.500,1.0,87.0,1.0,1.0,1.0,1.0,1.0,2.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0

In [39]:
X

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,1.0,83.75,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0
1,1.0,72.00,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0
2,1.0,83.75,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0
3,1.0,95.50,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0
4,1.0,76.25,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59862,3861.0,75.00,1.0,87.0,1.0,1.0,1.0,1.0,1.0,2.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0
59863,3861.0,100.00,1.0,87.0,1.0,1.0,1.0,1.0,1.0,2.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0
59864,3861.0,66.00,1.0,87.0,1.0,1.0,1.0,1.0,1.0,2.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0
59865,3861.0,76.25,1.0,87.0,1.0,1.0,1.0,1.0,1.0,2.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0
59866,3861.0,73.50,1.0,87.0,1.0,1.0,1.0,1.0,1.0,2.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0

In [37]:
vc['CURRENT_YEARLY_MILEAGE'].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33],
      dtype=int64)

In [46]:
c=vc[vc['CURRENT_YEARLY_MILEAGE']==4]

In [47]:
c

,Vehicle_ID,Sample_ID,State_Of_Health_Battery,Battery_Generation,Fleet_ID,Country,Vehicle_MRK_TYPE,CURRENT_YEARLY_MILEAGE,Mounted_Battery_Generation,Measure_R_D,Engine_Type,Geo_Area,City,Cluster,IS_PATTERN_AVAILABLE,IS_FLEET_TOF_MONITORED,IS_CHECKED_IN_VDA,Battery_Supplier
2290,4,267082490,NaN,2.0,4.0,2.0,3,4,2.0,4.0,2.0,1.0,3.0,2.0,0,0,1,2.0
2291,4,267082490,NaN,3.0,4.0,2.0,3,4,2.0,4.0,2.0,1.0,3.0,2.0,0,0,1,3.0
2292,4,300023022,NaN,2.0,4.0,2.0,3,4,2.0,4.0,2.0,1.0,3.0,2.0,0,0,1,2.0
2293,4,300023022,NaN,3.0,4.0,2.0,3,4,2.0,4.0,2.0,1.0,3.0,2.0,0,0,1,3.0
2294,4,238631533,NaN,2.0,4.0,2.0,3,4,2.0,4.0,2.0,1.0,3.0,2.0,0,0,1,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
860745,3904,390058819,NaN,2.0,159.0,6.0,2,4,2.0,NaN,NaN,NaN,NaN,NaN,0,0,0,2.0
860746,3904,384799627,NaN,2.0,159.0,6.0,2,4,2.0,NaN,NaN,NaN,NaN,NaN,0,0,0,2.0
860747,3904,376186134,NaN,2.0,159.0,6.0,2,4,2.0,NaN,NaN,NaN,NaN,NaN,0,0,0,2.0
860748,3904,390785560,NaN,2.0,159.0,6.0,2,4,2.0,NaN,NaN,NaN,NaN,NaN,0,0,0,2.0
860749,3904,157196025,NaN,2.0,159.0,6.0,2,4,2.0,NaN,NaN,NaN,NaN,NaN,0,0,0,2.0

In [76]:
c=vc[vc['CURRENT_YEARLY_MILEAGE']==1]

In [77]:
c

,Vehicle_ID,Sample_ID,State_Of_Health_Battery,Battery_Generation,Fleet_ID,Country,Vehicle_MRK_TYPE,CURRENT_YEARLY_MILEAGE,Mounted_Battery_Generation,Measure_R_D,Engine_Type,Geo_Area,City,Cluster,IS_PATTERN_AVAILABLE,IS_FLEET_TOF_MONITORED,IS_CHECKED_IN_VDA,Battery_Supplier
0,1,262526303,NaN,1.0,1.0,1.0,1,1,1.0,1.0,1.0,1.0,1.0,1.0,0,1,0,1.0
1,1,115517796,72.00,1.0,1.0,1.0,1,1,1.0,1.0,1.0,1.0,1.0,1.0,0,1,0,1.0
2,1,251857645,NaN,1.0,1.0,1.0,1,1,1.0,1.0,1.0,1.0,1.0,1.0,0,1,0,1.0
3,1,47893312,95.50,1.0,1.0,1.0,1,1,1.0,1.0,1.0,1.0,1.0,1.0,0,1,0,1.0
4,1,96601019,76.25,1.0,1.0,1.0,1,1,1.0,1.0,1.0,1.0,1.0,1.0,0,1,0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
859790,3861,203122463,75.00,1.0,87.0,1.0,1,1,1.0,1.0,NaN,NaN,NaN,NaN,0,1,0,1.0
859791,3861,72397891,100.00,1.0,87.0,1.0,1,1,1.0,1.0,NaN,NaN,NaN,NaN,0,1,0,1.0
859792,3861,364577793,66.00,1.0,87.0,1.0,1,1,1.0,1.0,NaN,NaN,NaN,NaN,0,1,0,1.0
859793,3861,182794289,76.25,1.0,87.0,1.0,1,1,1.0,1.0,NaN,NaN,NaN,NaN,0,1,0,1.0
859794,3861,230469871,73.50,1.0,87.0,1.0,1,1,1.0,1.0,NaN,NaN,NaN,NaN,0,1,0,1.0

In [80]:
c['Vehicle_MRK_TYPE'].value_counts()

1    19328
6    16125
4    11560
7     8401
2     3492
8      740
5      221
Name: Vehicle_MRK_TYPE, dtype: int64

In [54]:
c['City'].nunique()

16

In [55]:
c1=vc[vc['Country']==1]

In [56]:
c1

,Vehicle_ID,Sample_ID,State_Of_Health_Battery,Battery_Generation,Fleet_ID,Country,Vehicle_MRK_TYPE,CURRENT_YEARLY_MILEAGE,Mounted_Battery_Generation,Measure_R_D,Engine_Type,Geo_Area,City,Cluster,IS_PATTERN_AVAILABLE,IS_FLEET_TOF_MONITORED,IS_CHECKED_IN_VDA,Battery_Supplier
0,1,262526303,NaN,1.0,1.0,1.0,1,1,1.0,1.0,1.0,1.0,1.0,1.0,0,1,0,1.0
1,1,115517796,72.00,1.0,1.0,1.0,1,1,1.0,1.0,1.0,1.0,1.0,1.0,0,1,0,1.0
2,1,251857645,NaN,1.0,1.0,1.0,1,1,1.0,1.0,1.0,1.0,1.0,1.0,0,1,0,1.0
3,1,47893312,95.50,1.0,1.0,1.0,1,1,1.0,1.0,1.0,1.0,1.0,1.0,0,1,0,1.0
4,1,96601019,76.25,1.0,1.0,1.0,1,1,1.0,1.0,1.0,1.0,1.0,1.0,0,1,0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
861903,4023,336648775,NaN,2.0,NaN,1.0,1,3,2.0,NaN,NaN,NaN,NaN,NaN,0,0,0,2.0
861904,4023,190060116,NaN,2.0,NaN,1.0,1,3,2.0,NaN,NaN,NaN,NaN,NaN,0,0,0,2.0
861905,4023,338470978,NaN,2.0,NaN,1.0,1,3,2.0,NaN,NaN,NaN,NaN,NaN,0,0,0,2.0
861906,4023,167067497,NaN,2.0,NaN,1.0,1,3,2.0,NaN,NaN,NaN,NaN,NaN,0,0,0,2.0
861915,4031,348660913,NaN,2.0,NaN,1.0,1,3,2.0,NaN,NaN,NaN,NaN,NaN,0,0,0,2.0

In [57]:
c1['City'].unique()

array([  1.,   2.,   4.,  nan,  14.,  19.,  21.,  27.,  28.,  30.,  34.,
        38.,  48.,  50.,  54.,  55.,  58.,  70.,  73.,  76.,  77.,  79.,
        81.,  83., 101.,   9., 119.])

In [58]:
c2=vc[vc['CURRENT_YEARLY_MILEAGE']==1]

In [60]:
c2['City'].unique()

array([  1.,  nan,   4.,  43.,  54.,  64.,  50.,  36.,  74.,  77.,  55.,
        47.,  86.,  92., 107.,  20., 114.])

In [61]:
c2=vc[vc['Vehicle_ID']==1]

In [62]:
c2.describe()

,Vehicle_ID,Sample_ID,State_Of_Health_Battery,Battery_Generation,Fleet_ID,Country,Vehicle_MRK_TYPE,CURRENT_YEARLY_MILEAGE,Mounted_Battery_Generation,Measure_R_D,Engine_Type,Geo_Area,City,Cluster,IS_PATTERN_AVAILABLE,IS_FLEET_TOF_MONITORED,IS_CHECKED_IN_VDA,Battery_Supplier
count,69.0,6.900000e+01,33.000000,69.0,69.0,69.0,69.0,69.0,69.0,69.0,69.0,69.0,69.0,69.0,69.0,69.0,69.0,69.0
mean,1.0,2.251995e+08,73.909091,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0
std,0.0,1.147003e+08,13.707579,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
min,1.0,4.419601e+07,54.250000,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0
25%,1.0,1.213746e+08,64.500000,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0
50%,1.0,2.452807e+08,70.500000,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0
75%,1.0,3.284349e+08,80.750000,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0
max,1.0,4.044503e+08,98.500000,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0

In [63]:
c2.isnull().sum()

Vehicle_ID                     0
Sample_ID                      0
State_Of_Health_Battery       36
Battery_Generation             0
Fleet_ID                       0
Country                        0
Vehicle_MRK_TYPE               0
CURRENT_YEARLY_MILEAGE         0
Mounted_Battery_Generation     0
Measure_R_D                    0
Engine_Type                    0
Geo_Area                       0
City                           0
Cluster                        0
IS_PATTERN_AVAILABLE           0
IS_FLEET_TOF_MONITORED         0
IS_CHECKED_IN_VDA              0
Battery_Supplier               0
dtype: int64

In [64]:
veh2=vc[vc['Vehicle_ID']==2]

In [65]:
veh2.describe()

,Vehicle_ID,Sample_ID,State_Of_Health_Battery,Battery_Generation,Fleet_ID,Country,Vehicle_MRK_TYPE,CURRENT_YEARLY_MILEAGE,Mounted_Battery_Generation,Measure_R_D,Engine_Type,Geo_Area,City,Cluster,IS_PATTERN_AVAILABLE,IS_FLEET_TOF_MONITORED,IS_CHECKED_IN_VDA,Battery_Supplier
count,354.0,3.540000e+02,200.00000,354.0,354.0,354.0,354.0,354.0,354.0,354.0,354.0,354.0,354.0,354.0,354.0,354.0,354.0,354.0
mean,2.0,1.607978e+08,64.57250,1.0,2.0,1.0,2.0,2.0,1.0,2.0,1.0,1.0,2.0,1.0,0.0,0.0,0.0,1.0
std,0.0,1.128302e+08,15.33177,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
min,2.0,1.973850e+07,45.50000,1.0,2.0,1.0,2.0,2.0,1.0,2.0,1.0,1.0,2.0,1.0,0.0,0.0,0.0,1.0
25%,2.0,4.173832e+07,51.25000,1.0,2.0,1.0,2.0,2.0,1.0,2.0,1.0,1.0,2.0,1.0,0.0,0.0,0.0,1.0
50%,2.0,1.442385e+08,58.75000,1.0,2.0,1.0,2.0,2.0,1.0,2.0,1.0,1.0,2.0,1.0,0.0,0.0,0.0,1.0
75%,2.0,2.525194e+08,75.00000,1.0,2.0,1.0,2.0,2.0,1.0,2.0,1.0,1.0,2.0,1.0,0.0,0.0,0.0,1.0
max,2.0,4.016745e+08,100.00000,1.0,2.0,1.0,2.0,2.0,1.0,2.0,1.0,1.0,2.0,1.0,0.0,0.0,0.0,1.0

In [68]:
veh2.isnull().sum()

Vehicle_ID                      0
Sample_ID                       0
State_Of_Health_Battery       154
Battery_Generation              0
Fleet_ID                        0
Country                         0
Vehicle_MRK_TYPE                0
CURRENT_YEARLY_MILEAGE          0
Mounted_Battery_Generation      0
Measure_R_D                     0
Engine_Type                     0
Geo_Area                        0
City                            0
Cluster                         0
IS_PATTERN_AVAILABLE            0
IS_FLEET_TOF_MONITORED          0
IS_CHECKED_IN_VDA               0
Battery_Supplier                0
dtype: int64

In [69]:
veh3=vc[vc['Vehicle_ID']==3]

In [70]:
veh3.isnull().sum()

Vehicle_ID                       0
Sample_ID                        0
State_Of_Health_Battery       1776
Battery_Generation               0
Fleet_ID                         0
Country                          0
Vehicle_MRK_TYPE                 0
CURRENT_YEARLY_MILEAGE           0
Mounted_Battery_Generation       0
Measure_R_D                      0
Engine_Type                      0
Geo_Area                         0
City                             0
Cluster                          0
IS_PATTERN_AVAILABLE             0
IS_FLEET_TOF_MONITORED           0
IS_CHECKED_IN_VDA                0
Battery_Supplier                 0
dtype: int64

In [71]:
veh3['City'].unique()

array([1.])

In [72]:
veh200=vc[vc['Vehicle_ID']==200]

In [73]:
veh200.isnull().sum()

Vehicle_ID                     0
Sample_ID                      0
State_Of_Health_Battery       42
Battery_Generation             0
Fleet_ID                      68
Country                        0
Vehicle_MRK_TYPE               0
CURRENT_YEARLY_MILEAGE         0
Mounted_Battery_Generation     0
Measure_R_D                   68
Engine_Type                   68
Geo_Area                      68
City                          68
Cluster                       68
IS_PATTERN_AVAILABLE           0
IS_FLEET_TOF_MONITORED         0
IS_CHECKED_IN_VDA              0
Battery_Supplier               0
dtype: int64

In [79]:
veh200['CURRENT_YEARLY_MILEAGE'].value_counts()

3    68
Name: CURRENT_YEARLY_MILEAGE, dtype: int64

In [81]:
train=vc

In [82]:
train

,Vehicle_ID,Sample_ID,State_Of_Health_Battery,Battery_Generation,Fleet_ID,Country,Vehicle_MRK_TYPE,CURRENT_YEARLY_MILEAGE,Mounted_Battery_Generation,Measure_R_D,Engine_Type,Geo_Area,City,Cluster,IS_PATTERN_AVAILABLE,IS_FLEET_TOF_MONITORED,IS_CHECKED_IN_VDA,Battery_Supplier
0,1,262526303,NaN,1.0,1.0,1.0,1,1,1.0,1.0,1.0,1.0,1.0,1.0,0,1,0,1.0
1,1,115517796,72.00,1.0,1.0,1.0,1,1,1.0,1.0,1.0,1.0,1.0,1.0,0,1,0,1.0
2,1,251857645,NaN,1.0,1.0,1.0,1,1,1.0,1.0,1.0,1.0,1.0,1.0,0,1,0,1.0
3,1,47893312,95.50,1.0,1.0,1.0,1,1,1.0,1.0,1.0,1.0,1.0,1.0,0,1,0,1.0
4,1,96601019,76.25,1.0,1.0,1.0,1,1,1.0,1.0,1.0,1.0,1.0,1.0,0,1,0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
861911,4027,9339753,100.00,5.0,NaN,27.0,3,3,5.0,37.0,2.0,1.0,4.0,8.0,1,0,0,3.0
861912,4028,375757668,NaN,2.0,188.0,22.0,1,23,2.0,NaN,NaN,NaN,NaN,NaN,0,0,0,2.0
861913,4029,156703893,100.00,3.0,256.0,2.0,3,3,3.0,5.0,2.0,1.0,9.0,NaN,1,0,0,3.0
861914,4030,32584182,100.00,5.0,NaN,5.0,8,3,5.0,37.0,2.0,1.0,4.0,4.0,1,0,0,3.0
861915,4031,348660913,NaN,2.0,NaN,1.0,1,3,2.0,NaN,NaN,NaN,NaN,NaN,0,0,0,2.0

In [84]:
train=train.drop('Sample_ID',axis=1)

In [85]:
train

,Vehicle_ID,State_Of_Health_Battery,Battery_Generation,Fleet_ID,Country,Vehicle_MRK_TYPE,CURRENT_YEARLY_MILEAGE,Mounted_Battery_Generation,Measure_R_D,Engine_Type,Geo_Area,City,Cluster,IS_PATTERN_AVAILABLE,IS_FLEET_TOF_MONITORED,IS_CHECKED_IN_VDA,Battery_Supplier
0,1,NaN,1.0,1.0,1.0,1,1,1.0,1.0,1.0,1.0,1.0,1.0,0,1,0,1.0
1,1,72.00,1.0,1.0,1.0,1,1,1.0,1.0,1.0,1.0,1.0,1.0,0,1,0,1.0
2,1,NaN,1.0,1.0,1.0,1,1,1.0,1.0,1.0,1.0,1.0,1.0,0,1,0,1.0
3,1,95.50,1.0,1.0,1.0,1,1,1.0,1.0,1.0,1.0,1.0,1.0,0,1,0,1.0
4,1,76.25,1.0,1.0,1.0,1,1,1.0,1.0,1.0,1.0,1.0,1.0,0,1,0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
861911,4027,100.00,5.0,NaN,27.0,3,3,5.0,37.0,2.0,1.0,4.0,8.0,1,0,0,3.0
861912,4028,NaN,2.0,188.0,22.0,1,23,2.0,NaN,NaN,NaN,NaN,NaN,0,0,0,2.0
861913,4029,100.00,3.0,256.0,2.0,3,3,3.0,5.0,2.0,1.0,9.0,NaN,1,0,0,3.0
861914,4030,100.00,5.0,NaN,5.0,8,3,5.0,37.0,2.0,1.0,4.0,4.0,1,0,0,3.0
861915,4031,NaN,2.0,NaN,1.0,1,3,2.0,NaN,NaN,NaN,NaN,NaN,0,0,0,2.0

In [86]:
X=train[train['CURRENT_YEARLY_MILEAGE']==0]

In [87]:
X

Empty DataFrame
Columns: [Vehicle_ID, State_Of_Health_Battery, Battery_Generation, Fleet_ID, Country, Vehicle_MRK_TYPE, CURRENT_YEARLY_MILEAGE, Mounted_Battery_Generation, Measure_R_D, Engine_Type, Geo_Area, City, Cluster, IS_PATTERN_AVAILABLE, IS_FLEET_TOF_MONITORED, IS_CHECKED_IN_VDA, Battery_Supplier]
Index: []

In [88]:
train['CURRENT_YEARLY_MILEAGE'].nunique()

33

In [ ]:
from sklearn.impute import KNNImputer
knn=KNNImputer(n_neighbors=2)
for i in range(1,5):
    #print(X.head())
    print("*************************************************************************")
    c=vc[vc['CURRENT_YEARLY_MILEAGE']==i]
    print("C",c.shape)
    print(c.head())
    #print("a")
    c.drop('Sample_ID',axis=1)
    #print("b")
    Xl=knn.fit_transform(c)
    print("milage  ",i)
    Xl1=pd.DataFrame(Xl)
    print(Xl1.shape)
    X.append([Xl1])
    print(X.shape)
    print("***************************************************************************")

*************************************************************************
C (59867, 18)
   Vehicle_ID  Sample_ID  State_Of_Health_Battery  Battery_Generation  \
0           1  262526303                      NaN                 1.0
1           1  115517796                    72.00                 1.0
2           1  251857645                      NaN                 1.0
3           1   47893312                    95.50                 1.0
4           1   96601019                    76.25                 1.0

   Fleet_ID  Country  Vehicle_MRK_TYPE  CURRENT_YEARLY_MILEAGE  \
0       1.0      1.0                 1                       1
1       1.0      1.0                 1                       1
2       1.0      1.0                 1                       1
3       1.0      1.0                 1                       1
4       1.0      1.0                 1                       1

   Mounted_Battery_Generation  Measure_R_D  Engine_Type  Geo_Area  City  \
0                         1.0          1.0          1.0       1.0   1.0
1                         1.0          1.0          1.0       1.0   1.0
2                         1.0          1.0          1.0       1.0   1.0
3                         1.0          1.0          1.0       1.0   1.0
4                         1.0          1.0          1.0       1.0   1.0

   Cluster  IS_PATTERN_AVAILABLE  IS_FLEET_TOF_MONITORED  IS_CHECKED_IN_VDA  \
0      1.0                     0                       1                  0
1      1.0                     0                       1                  0
2      1.0                     0                       1                  0
3      1.0                     0                       1                  0
4      1.0                     0                       1                  0

   Battery_Supplier
0               1.0
1               1.0
2               1.0
3               1.0
4               1.0
milage   1
(59867, 18)
(0, 17)
***************************************************************************
*************************************************************************
C (115068, 18)
    Vehicle_ID  Sample_ID  State_Of_Health_Battery  Battery_Generation  \
69           2  353317289                    47.00                 1.0
70           2  114875565                    60.25                 1.0
71           2  255030039                      NaN                 1.0
72           2  259288222                      NaN                 1.0
73           2   19942818                      NaN                 1.0

    Fleet_ID  Country  Vehicle_MRK_TYPE  CURRENT_YEARLY_MILEAGE  \
69       2.0      1.0                 2                       2
70       2.0      1.0                 2                       2
71       2.0      1.0                 2                       2
72       2.0      1.0                 2                       2
73       2.0      1.0                 2                       2

    Mounted_Battery_Generation  Measure_R_D  Engine_Type  Geo_Area  City  \
69                         1.0          2.0          1.0       1.0   2.0
70                         1.0          2.0          1.0       1.0   2.0
71                         1.0          2.0          1.0       1.0   2.0
72                         1.0          2.0          1.0       1.0   2.0
73                         1.0          2.0          1.0       1.0   2.0

    Cluster  IS_PATTERN_AVAILABLE  IS_FLEET_TOF_MONITORED  IS_CHECKED_IN_VDA  \
69      1.0                     0                       0                  0
70      1.0                     0                       0                  0
71      1.0                     0                       0                  0
72      1.0                     0                       0                  0
73      1.0                     0                       0                  0

    Battery_Supplier
69               1.0
70               1.0
71               1.0
72               1.0
73               1.0

In [13]:
c=0
for i in range(1,11):
    veh3=vc[vc['CURRENT_YEARLY_MILEAGE']==i]
    print('currently yearly milage',i,'total data',veh3.shape[0])
    c+=veh3.shape[0]

currently yearly milage 1 total data 59867
currently yearly milage 2 total data 115068
currently yearly milage 3 total data 232810
currently yearly milage 4 total data 178896
currently yearly milage 5 total data 63107
currently yearly milage 6 total data 3125
currently yearly milage 7 total data 43666
currently yearly milage 8 total data 27513
currently yearly milage 9 total data 895
currently yearly milage 10 total data 35063

In [11]:
c

760010

In [12]:
c-data.shape[0]

-101906

In [26]:
from sklearn.impute import KNNImputer

In [27]:
knn=KNNImputer(n_neighbors=2)

In [16]:
veh1=vc[vc['CURRENT_YEARLY_MILEAGE']==1]
X1=knn.fit_transform(veh1)

In [17]:
X1

array([[1.00000000e+00, 2.62526303e+08, 6.75000000e+01, ...,
        1.00000000e+00, 0.00000000e+00, 1.00000000e+00],
       [1.00000000e+00, 1.15517796e+08, 7.20000000e+01, ...,
        1.00000000e+00, 0.00000000e+00, 1.00000000e+00],
       [1.00000000e+00, 2.51857645e+08, 5.42500000e+01, ...,
        1.00000000e+00, 0.00000000e+00, 1.00000000e+00],
       ...,
       [3.86100000e+03, 3.64577793e+08, 6.60000000e+01, ...,
        1.00000000e+00, 0.00000000e+00, 1.00000000e+00],
       [3.86100000e+03, 1.82794289e+08, 7.62500000e+01, ...,
        1.00000000e+00, 0.00000000e+00, 1.00000000e+00],
       [3.86100000e+03, 2.30469871e+08, 7.35000000e+01, ...,
        1.00000000e+00, 0.00000000e+00, 1.00000000e+00]])

In [18]:
veh2=vc[vc['CURRENT_YEARLY_MILEAGE']==2]
X2=knn.fit_transform(veh2)

In [19]:
X2

array([[2.00000000e+00, 3.53317289e+08, 4.70000000e+01, ...,
        0.00000000e+00, 0.00000000e+00, 1.00000000e+00],
       [2.00000000e+00, 1.14875565e+08, 6.02500000e+01, ...,
        0.00000000e+00, 0.00000000e+00, 1.00000000e+00],
       [2.00000000e+00, 2.55030039e+08, 5.50000000e+01, ...,
        0.00000000e+00, 0.00000000e+00, 1.00000000e+00],
       ...,
       [3.48100000e+03, 9.58043880e+07, 7.05000000e+01, ...,
        0.00000000e+00, 0.00000000e+00, 1.00000000e+00],
       [3.48100000e+03, 3.94825280e+07, 9.85000000e+01, ...,
        0.00000000e+00, 0.00000000e+00, 1.00000000e+00],
       [3.48100000e+03, 3.44342489e+08, 5.43750000e+01, ...,
        0.00000000e+00, 0.00000000e+00, 1.00000000e+00]])

In [20]:
X1_da=pd.DataFrame(X1)

In [21]:
X1_da

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,1.0,262526303.0,67.50,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0
1,1.0,115517796.0,72.00,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0
2,1.0,251857645.0,54.25,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0
3,1.0,47893312.0,95.50,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0
4,1.0,96601019.0,76.25,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59862,3861.0,203122463.0,75.00,1.0,87.0,1.0,1.0,1.0,1.0,1.0,2.0,1.0,54.0,1.0,0.0,1.0,0.0,1.0
59863,3861.0,72397891.0,100.00,1.0,87.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,4.0,4.0,0.0,1.0,0.0,1.0
59864,3861.0,364577793.0,66.00,1.0,87.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2.5,3.0,0.0,1.0,0.0,1.0
59865,3861.0,182794289.0,76.25,1.0,87.0,1.0,1.0,1.0,1.0,1.0,2.0,1.0,50.0,4.0,0.0,1.0,0.0,1.0
59866,3861.0,230469871.0,73.50,1.0,87.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,23.5,5.0,0.0,1.0,0.0,1.0

In [22]:
X1_da.to_csv('E:\data mining\dataset_csv\X1_da.csv')

In [23]:
X2_da=pd.DataFrame(X2)

In [25]:
X2_da

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,2.0,353317289.0,47.000,1.0,2.0,1.0,2.0,2.0,1.0,2.0,1.0,1.0,2.0,1.0,0.0,0.0,0.0,1.0
1,2.0,114875565.0,60.250,1.0,2.0,1.0,2.0,2.0,1.0,2.0,1.0,1.0,2.0,1.0,0.0,0.0,0.0,1.0
2,2.0,255030039.0,55.000,1.0,2.0,1.0,2.0,2.0,1.0,2.0,1.0,1.0,2.0,1.0,0.0,0.0,0.0,1.0
3,2.0,259288222.0,47.625,1.0,2.0,1.0,2.0,2.0,1.0,2.0,1.0,1.0,2.0,1.0,0.0,0.0,0.0,1.0
4,2.0,19942818.0,100.000,1.0,2.0,1.0,2.0,2.0,1.0,2.0,1.0,1.0,2.0,1.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115063,3481.0,393808405.0,50.000,1.0,2.0,1.0,1.0,2.0,1.0,5.0,1.0,1.0,4.0,1.0,0.0,0.0,0.0,1.0
115064,3481.0,33125294.0,94.750,1.0,2.0,1.0,1.0,2.0,1.0,5.0,1.0,1.0,4.0,1.0,0.0,0.0,0.0,1.0
115065,3481.0,95804388.0,70.500,1.0,32.5,1.0,1.0,2.0,1.0,5.0,1.0,1.0,4.0,1.0,0.0,0.0,0.0,1.0
115066,3481.0,39482528.0,98.500,1.0,37.0,1.0,1.0,2.0,1.0,5.0,1.0,1.0,4.0,1.0,0.0,0.0,0.0,1.0
115067,3481.0,344342489.0,54.375,1.0,37.0,1.0,1.0,2.0,1.0,5.0,1.0,1.0,4.0,1.0,0.0,0.0,0.0,1.0

In [26]:
X2_da.to_csv('E:\data mining\dataset_csv\X2_da.csv')

In [46]:
veh3=vc[vc['CURRENT_YEARLY_MILEAGE']==3]
X3=knn.fit_transform(veh3)

In [51]:
veh3

,Vehicle_ID,Sample_ID,State_Of_Health_Battery,Battery_Generation,Fleet_ID,Country,Vehicle_MRK_TYPE,CURRENT_YEARLY_MILEAGE,Mounted_Battery_Generation,Measure_R_D,Engine_Type,Geo_Area,City,Cluster,IS_PATTERN_AVAILABLE,IS_FLEET_TOF_MONITORED,IS_CHECKED_IN_VDA,Battery_Supplier
423,3,190289041,NaN,1.0,3.0,1.0,1,3,1.0,3.0,1.0,1.0,1.0,1.0,0,0,0,1.0
424,3,38651067,NaN,1.0,3.0,1.0,1,3,1.0,3.0,1.0,1.0,1.0,1.0,0,0,0,1.0
425,3,36594238,NaN,1.0,3.0,1.0,1,3,1.0,3.0,1.0,1.0,1.0,1.0,0,0,0,1.0
426,3,21232244,NaN,1.0,3.0,1.0,1,3,1.0,3.0,1.0,1.0,1.0,1.0,0,0,0,1.0
427,3,211854217,NaN,1.0,3.0,1.0,1,3,1.0,3.0,1.0,1.0,1.0,1.0,0,0,0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
861910,4026,303603220,98.34,6.0,NaN,NaN,7,3,6.0,12.0,2.0,1.0,4.0,2.0,0,0,0,3.0
861911,4027,9339753,100.00,5.0,NaN,27.0,3,3,5.0,37.0,2.0,1.0,4.0,8.0,1,0,0,3.0
861913,4029,156703893,100.00,3.0,256.0,2.0,3,3,3.0,5.0,2.0,1.0,9.0,NaN,1,0,0,3.0
861914,4030,32584182,100.00,5.0,NaN,5.0,8,3,5.0,37.0,2.0,1.0,4.0,4.0,1,0,0,3.0
861915,4031,348660913,NaN,2.0,NaN,1.0,1,3,2.0,NaN,NaN,NaN,NaN,NaN,0,0,0,2.0

In [47]:
X3

array([[3.00000000e+00, 1.90289041e+08, 7.35000000e+01, ...,
        0.00000000e+00, 0.00000000e+00, 1.00000000e+00],
       [3.00000000e+00, 3.86510670e+07, 1.00000000e+02, ...,
        0.00000000e+00, 0.00000000e+00, 1.00000000e+00],
       [3.00000000e+00, 3.65942380e+07, 1.00000000e+02, ...,
        0.00000000e+00, 0.00000000e+00, 1.00000000e+00],
       ...,
       [4.02900000e+03, 1.56703893e+08, 1.00000000e+02, ...,
        0.00000000e+00, 0.00000000e+00, 3.00000000e+00],
       [4.03000000e+03, 3.25841820e+07, 1.00000000e+02, ...,
        0.00000000e+00, 0.00000000e+00, 3.00000000e+00],
       [4.03100000e+03, 3.48660913e+08, 8.86210000e+01, ...,
        0.00000000e+00, 0.00000000e+00, 2.00000000e+00]])

In [48]:
X3_da=pd.DataFrame(X3)

In [49]:
X3_da.to_csv('E:\data mining\dataset_csv\X3_da.csv')

In [50]:
X3_da

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,3.0,190289041.0,73.5000,1.0,3.0,1.0,1.0,3.0,1.0,3.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0
1,3.0,38651067.0,100.0000,1.0,3.0,1.0,1.0,3.0,1.0,3.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0
2,3.0,36594238.0,100.0000,1.0,3.0,1.0,1.0,3.0,1.0,3.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0
3,3.0,21232244.0,94.2775,1.0,3.0,1.0,1.0,3.0,1.0,3.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0
4,3.0,211854217.0,84.3750,1.0,3.0,1.0,1.0,3.0,1.0,3.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
232805,4026.0,303603220.0,98.3400,6.0,21.5,1.0,7.0,3.0,6.0,12.0,2.0,1.0,4.0,2.0,0.0,0.0,0.0,3.0
232806,4027.0,9339753.0,100.0000,5.0,160.0,27.0,3.0,3.0,5.0,37.0,2.0,1.0,4.0,8.0,1.0,0.0,0.0,3.0
232807,4029.0,156703893.0,100.0000,3.0,256.0,2.0,3.0,3.0,3.0,5.0,2.0,1.0,9.0,1.0,1.0,0.0,0.0,3.0
232808,4030.0,32584182.0,100.0000,5.0,35.0,5.0,8.0,3.0,5.0,37.0,2.0,1.0,4.0,4.0,1.0,0.0,0.0,3.0
232809,4031.0,348660913.0,88.6210,2.0,76.0,1.0,1.0,3.0,2.0,5.0,1.0,1.0,4.0,4.5,0.0,0.0,0.0,2.0

In [29]:
veh4=vc[vc['CURRENT_YEARLY_MILEAGE']==4]
X4=knn.fit_transform(veh4)

In [30]:
X4_da=pd.DataFrame(X4)

In [31]:
X4_da.to_csv('E:\data mining\dataset_csv\X4_da.csv')

In [32]:
X4_da

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,4.0,267082490.0,66.125,2.0,4.0,2.0,3.0,4.0,2.0,4.0,2.0,1.0,3.0,2.0,0.0,0.0,1.0,2.0
1,4.0,267082490.0,66.125,3.0,4.0,2.0,3.0,4.0,2.0,4.0,2.0,1.0,3.0,2.0,0.0,0.0,1.0,3.0
2,4.0,300023022.0,91.113,2.0,4.0,2.0,3.0,4.0,2.0,4.0,2.0,1.0,3.0,2.0,0.0,0.0,1.0,2.0
3,4.0,300023022.0,91.113,3.0,4.0,2.0,3.0,4.0,2.0,4.0,2.0,1.0,3.0,2.0,0.0,0.0,1.0,3.0
4,4.0,238631533.0,66.797,2.0,4.0,2.0,3.0,4.0,2.0,4.0,2.0,1.0,3.0,2.0,0.0,0.0,1.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
178891,3904.0,390058819.0,89.625,2.0,159.0,6.0,2.0,4.0,2.0,5.0,1.0,1.0,26.0,3.5,0.0,0.0,0.0,2.0
178892,3904.0,384799627.0,81.500,2.0,159.0,6.0,2.0,4.0,2.0,5.0,1.5,1.0,25.0,3.0,0.0,0.0,0.0,2.0
178893,3904.0,376186134.0,72.625,2.0,159.0,6.0,2.0,4.0,2.0,4.5,2.0,1.0,3.0,2.0,0.0,0.0,0.0,2.0
178894,3904.0,390785560.0,72.619,2.0,159.0,6.0,2.0,4.0,2.0,18.0,1.0,3.0,15.0,3.0,0.0,0.0,0.0,2.0
178895,3904.0,157196025.0,76.367,2.0,159.0,6.0,2.0,4.0,2.0,4.0,2.0,1.0,3.0,2.0,0.0,0.0,0.0,2.0

In [33]:
veh5=vc[vc['CURRENT_YEARLY_MILEAGE']==5]
X5=knn.fit_transform(veh5)

In [34]:
X5_da=pd.DataFrame(X5)

In [35]:
X5_da.to_csv('E:\data mining\dataset_csv\X5_da.csv')

In [37]:
veh6=vc[vc['CURRENT_YEARLY_MILEAGE']==6]
X6=knn.fit_transform(veh6)

In [38]:
veh6

,Vehicle_ID,Sample_ID,State_Of_Health_Battery,Battery_Generation,Fleet_ID,Country,Vehicle_MRK_TYPE,CURRENT_YEARLY_MILEAGE,Mounted_Battery_Generation,Measure_R_D,Engine_Type,Geo_Area,City,Cluster,IS_PATTERN_AVAILABLE,IS_FLEET_TOF_MONITORED,IS_CHECKED_IN_VDA,Battery_Supplier
8278,11,111482560,NaN,4.0,9.0,4.0,5,6,4.0,NaN,NaN,NaN,NaN,NaN,0,1,0,4.0
8279,11,239890096,NaN,4.0,9.0,4.0,5,6,4.0,NaN,NaN,NaN,NaN,NaN,0,1,0,4.0
8280,11,239362843,NaN,4.0,9.0,4.0,5,6,4.0,NaN,NaN,NaN,NaN,NaN,0,1,0,4.0
8281,11,354794021,NaN,4.0,9.0,4.0,5,6,4.0,NaN,NaN,NaN,NaN,NaN,0,1,0,4.0
8282,11,257853555,NaN,4.0,9.0,4.0,5,6,4.0,NaN,NaN,NaN,NaN,NaN,0,1,0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
794004,2615,284235607,NaN,4.0,142.0,4.0,5,6,4.0,5.0,1.0,1.0,NaN,NaN,0,1,0,4.0
794005,2615,88875809,NaN,4.0,142.0,4.0,5,6,4.0,5.0,1.0,1.0,NaN,NaN,0,1,0,4.0
794006,2615,160146070,NaN,4.0,142.0,4.0,5,6,4.0,5.0,1.0,1.0,NaN,NaN,0,1,0,4.0
794007,2615,323317838,NaN,4.0,142.0,4.0,5,6,4.0,5.0,1.0,1.0,NaN,NaN,0,1,0,4.0
794008,2615,371104249,NaN,4.0,142.0,4.0,5,6,4.0,5.0,1.0,1.0,NaN,NaN,0,1,0,4.0

In [39]:
X6_da=pd.DataFrame(X6)

In [40]:
X6_da.shape

(3125, 16)

In [41]:
X6_da.to_csv('E:\data mining\dataset_csv\X6_da.csv')

In [39]:
veh7=vc[vc['CURRENT_YEARLY_MILEAGE']==7]
X7=knn.fit_transform(veh7)
X7_da=pd.DataFrame(X7)
X7_da.to_csv('E:\data mining\dataset_csv\X7_da.csv')

In [40]:
veh8=vc[vc['CURRENT_YEARLY_MILEAGE']==8]
X8=knn.fit_transform(veh8)
X8_da=pd.DataFrame(X8)
X8_da.to_csv('E:\data mining\dataset_csv\X8_da.csv')

In [42]:
veh9=vc[vc['CURRENT_YEARLY_MILEAGE']==9]
X9=knn.fit_transform(veh9)
X9_da=pd.DataFrame(X9)
X9_da.to_csv('E:\data mining\dataset_csv\X9_da.csv')

In [44]:
veh10=vc[vc['CURRENT_YEARLY_MILEAGE']==10]
X10=knn.fit_transform(veh10)
X10_da=pd.DataFrame(X10)
X10_da.to_csv('E:\data mining\dataset_csv\X10_da.csv')

In [45]:
veh11=vc[vc['CURRENT_YEARLY_MILEAGE']==11]
X11=knn.fit_transform(veh11)
X11_da=pd.DataFrame(X11)
X11_da.to_csv('E:\data mining\dataset_csv\X11_da.csv')

In [28]:
for i in range(12,33):
    veh8=vc[vc['CURRENT_YEARLY_MILEAGE']==i]
    X8=knn.fit_transform(veh8)
    X8_da=pd.DataFrame(X8)
    X8_da.to_csv('E:\data mining\dataset_csv'+'\X'+str(i)+'_da.csv')

In [31]:
veh11=vc[vc['CURRENT_YEARLY_MILEAGE']==33]
X11=knn.fit_transform(veh11)
X11_da=pd.DataFrame(X11)
X11_da.to_csv('E:\data mining\dataset_csv\X33_da.csv')

In [34]:
X3_da.isnull().sum()

NameError: name 'X3_da' is not defined

In [58]:
con7=vc[vc['Country']==7]

In [67]:
con7['Engine_Type'].unique()

array([ 1.,  2., nan])

In [60]:
mil29=vc[vc['CURRENT_YEARLY_MILEAGE']==29]

In [62]:
mil29

,Vehicle_ID,Sample_ID,State_Of_Health_Battery,Battery_Generation,Fleet_ID,Country,Vehicle_MRK_TYPE,CURRENT_YEARLY_MILEAGE,Mounted_Battery_Generation,Measure_R_D,Engine_Type,Geo_Area,City,Cluster,IS_PATTERN_AVAILABLE,IS_FLEET_TOF_MONITORED,IS_CHECKED_IN_VDA,Battery_Supplier
788638,2541,123142970,72.0,1.0,267.0,13.0,2,29,1.0,93.0,1.0,1.0,97.0,NaN,0,0,1,1.0
788639,2541,41827938,NaN,1.0,267.0,13.0,2,29,1.0,93.0,1.0,1.0,97.0,NaN,0,0,1,1.0
788640,2541,199640553,66.0,1.0,267.0,13.0,2,29,1.0,93.0,1.0,1.0,97.0,NaN,0,0,1,1.0
788641,2541,47344000,89.5,1.0,267.0,13.0,2,29,1.0,93.0,1.0,1.0,97.0,NaN,0,0,1,1.0
788642,2541,39872659,NaN,1.0,267.0,13.0,2,29,1.0,93.0,1.0,1.0,97.0,NaN,0,0,1,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
805022,2787,404451496,67.5,1.0,274.0,7.0,2,29,1.0,NaN,NaN,NaN,NaN,NaN,0,1,0,1.0
805023,2787,404626722,NaN,1.0,274.0,7.0,2,29,1.0,NaN,NaN,NaN,NaN,NaN,0,1,0,1.0
805024,2787,103796283,94.0,1.0,274.0,7.0,2,29,1.0,NaN,NaN,NaN,NaN,NaN,0,1,0,1.0
805025,2787,94919534,98.5,1.0,274.0,7.0,2,29,1.0,NaN,NaN,NaN,NaN,NaN,0,1,0,1.0
805026,2787,99672549,95.5,1.0,274.0,7.0,2,29,1.0,NaN,NaN,NaN,NaN,NaN,0,1,0,1.0

In [63]:
mil29.isnull().sum()

Vehicle_ID                      0
Sample_ID                       0
State_Of_Health_Battery       109
Battery_Generation              0
Fleet_ID                        0
Country                         0
Vehicle_MRK_TYPE                0
CURRENT_YEARLY_MILEAGE          0
Mounted_Battery_Generation      0
Measure_R_D                    38
Engine_Type                    38
Geo_Area                       38
City                           38
Cluster                       264
IS_PATTERN_AVAILABLE            0
IS_FLEET_TOF_MONITORED          0
IS_CHECKED_IN_VDA               0
Battery_Supplier                0
dtype: int64

In [66]:
mil29['Engine_Type'].unique()

array([ 1., nan])

In [15]:
col=['SEND_TIME','Battery_Replacement_date','Operation_TIME', 'Operation_DISTANCE']
c1=pd.DataFrame(columns=col)
for i in range(34):
    c=data[data['CURRENT_YEARLY_MILEAGE']==i]
    c1=pd.concat([c1,c[['SEND_TIME','Battery_Replacement_date','Operation_TIME', 'Operation_DISTANCE']]])

In [16]:
c1.isnull().sum()

SEND_TIME                    1681
Battery_Replacement_date     4864
Operation_TIME                101
Operation_DISTANCE          35219
dtype: int64

In [17]:
c1.to_csv('E:\data mining\dataset_csv\date1.csv')

In [18]:
c1

,SEND_TIME,Battery_Replacement_date,Operation_TIME,Operation_DISTANCE
0,2019-03-11 17:35:14,2015-08-01,9157.192,247897.590
1,2017-11-10 18:09:35,2015-08-01,3146.041,161516.350
2,2019-02-21 07:24:22,2015-08-01,8900.673,134506.020
3,2015-12-20 16:26:27,2015-08-01,1386.207,27599.180
4,2017-06-12 13:01:16,2015-08-01,1146.683,129568.380
...,...,...,...,...
859901,2019-05-13 19:45:00,2015-06-01,7123.920,102843.428
859902,2015-04-09 18:43:36,2015-06-01,38.979,580.170
859903,2017-01-02 16:47:37,2015-06-01,2319.401,33617.379
859904,2016-04-05 17:15:56,2015-06-01,436.913,7986.100
859905,2017-04-25 13:56:24,2015-06-01,2987.091,43232.049